/**
 *
 */

$fontFamily: Consolas, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
$color: blog;

body{
	color: $color;
	font-family: $fontFamily;
}
.#{$color}-blog{color: red;}
@import "base.scss";