/*.news-blog:nth-of-type(2n){*/
/*	grid-row: span 1;*/
/*}*/
/*.news-blog:nth-of-type(2n+1){*/
/*	grid-row: span 2;*/
/*}*/
.news-blog{
    grid-column: span 8;
}
.news-blog::before{
    content: '\e83f';
}
.news-blog_title{
    overflow: hidden;
    display: -webkit-box;
    border-bottom: 1px solid #c0c0c0;
    margin: 0 0 0 50px;
    height: 40px;
    line-height: 35px;
    text-align: left;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}