@import "./layout/grid-container.scss";

.main{
    margin: 10px auto;
    background: #fff;
}

@media screen and (min-width: 1000px) {
    .main{
        width: 1000px;
    }
}

@media screen and (min-width: 1200px) {
    .main{
        width: 1200px;
    }

    //.grid-half{
    //    @include gridColumn( 12 );
    //}
    //.grid-full{
    //    @include gridColumn( 24 );
    //}
}

//@media screen and (min-width: 1400px) {
//    .main{
//        width: 1400px;
//    }
//}

//@media screen and (min-width: 1600px) {
//    .main{
//        width: 1600px;
//    }
//}