.module{
    position: relative;
    border: 5px solid #c0c0c0;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    color: #333;

    &::before{
        position: absolute;
        top: -5px;
        left: -5px;
        z-index: 1;
        width: 40px;
        height: 40px;
        border: 5px solid #c0c0c0;
        border-radius: 10px 25px 25px;
        background: #fff;
        color: #c0c0c0;
        font-family: 'font';
        font-size: 24px;
        text-align: center;
        line-height: 40px;
        font-weight: bolder;
        content: '';
    }

    &_title{
        border-bottom: 1px solid #c0c0c0;
        margin: -1px 0 5px 50px;
        height: auto;
        line-height: 40px;
        text-align: left;
        box-sizing: border-box;
    }
}