@import "./layout/flex-container.scss";

.module{
    position: relative;
    border: 5px solid #c0c0c0;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    color: #333;

    &::before{
        position: absolute;
        top: -5px;
        left: -5px;
        z-index: 1;
        width: 40px;
        height: 40px;
        border: 5px solid #c0c0c0;
        border-radius: 10px 25px 25px;
        background: #fff;
        color: #333;
        font-family: 'font', serif;
        font-size: 24px;
        text-align: center;
        line-height: 40px;
        font-weight: bolder;
        content: '';
    }

    &_title{
        position: relative;
        margin: -5px 0 0 50px;
        padding-bottom: 5px;
        height: auto;
        line-height: 40px;
        text-align: left;

        &::after{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 1px;
            background: #c0c0c0;
            content: '';
        }
    }
    &_content{
        border-radius: 10px;
        margin: 10px 5px 5px;
        padding: 10px;
        background: #f1f1f1;
    }
    &_info{
        @extend .container, .flex;

        border-top: 1px solid #c0c0c0;
        color: #999;
        font-size: 14px;
    }
    &_tags{
        margin: 5px -5px -5px;
    }
    &_datetime{
        flex-shrink: 0;
        height: 30px;
        margin: 10px 0 0;
        line-height: 30px;
    }
}