@import "config/color.config.less";

.Footer{
	position: fixed;
	z-index: 4;
	bottom: 0;
	left: 0;
	right: 0;
	background: @footer_bg_c;

	.toolbar{
		float: none;
		margin: 0 auto;
		text-align: center;
	}
}
.footer_msg{
	display: none;
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;

	margin: auto;
	background: rgba(0, 0, 0, .5);

	.footer_msg_wrap{
		position: relative;
		margin: 5px auto;
	}

	.msg{
		border: 1px solid #fff;
		margin: auto;
		background: #fff;
		color: #666;
		font-size: 16px;
		text-align: left;
	}
	.icon-ok,
	.icon-warming{
		&:before{
			display: inline-block;
			margin: 0 20px;
			font-size: 40px;
			vertical-align: middle;
		}
	}

	.icon-ok{
		border-color: @footer_msg_ok;

		&:before{
			color: @footer_msg_ok;
		}
	}

	.icon-warming{
		border-color: @footer_msg_warming;

		&:before{
			color: @footer_msg_warming;
		}
	}


	.icon-cancel{
		position: absolute;
		top: 5px;
		right: 5px;
		width: 1em;
		border: 0;
		padding: 0;
		background: transparent;
		color: #666;
		font-size: 16px;
	}
}