.Header{
	min-height: 40px;
	height: auto;
	width: 100%;

	background: #555;

	.logo{
		margin-left: -5px;
	}

	.toolbar{
		margin-right: -5px;
	}
}

.header_wrapper{
	margin: 0 auto;
}

// 一个页面只有一个 h1 标签，并包含在 header 标签内
h1{
	display: none;
	float: left;
	line-height: 40px;
	text-indent: 30px;
}