/**
 * ie 兼容
 */

// 针对 HTML5 标签
article,
aside,
details,
figcaption,
figure,
footer,
header,
//hgroup,
menu,
nav,
section{
	display: block;
}

input,
textarea,
select{
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

.Overlay{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;

	opacity: .6;
}

@import "ie/ie-8.less";