@import "lib/grid.less";

/**
 *---------- Layout 布局 汇总 ----------
 *  布局使用栅格系统
 *  最大宽度 / 最小宽度由最外层的 .Container 来控制
 *
 *  默认标准 屏幕宽度 1024 以下 页面宽度 960
 *  针对标准显示器
 *      .Container 宽度 960
 *  共 24 列
 *      .large    24
 *      .big      16
 *      .normal   12
 *      .small    8
 *      .tiny     4
 * */

// 主容器
.Container{
	overflow: hidden;
	position:relative;

	width: @grid-unit *24;

	margin:10px auto 50px;
}

// 用来包裹模块中非 large 元素
.wrap{
	margin: 0 -@grid-space;
}

.large{
	.grid-x(24);
	width: @width;
}
.big{
	.grid-x(16);
	width: @width;
}
.normal{
	.grid-x(12);
	width: @width;
}
.small{
	.grid-x(8);
	width: @width;
}
.tiny{
	.grid-x(4);
	width: @width;
}

//----- 响应式布局各个断点 -----
/**
 *  各个类 边界数值
 *      像素值即为各个类的默认宽度，也即最小宽度
 *      百分比数字为该类在页面中期望的占比大小，如无法达到最小值则填充整行
 *
 *  large   |   big     |   normal  |   small   |   tiny
 *----------|-----------|-----------|-----------|----------
 *   950px  |    710px  |    470px  |    310px  |    150px
 *----------|-----------|-----------|-----------|----------
 *   100%   |    >= 2/3 |    >=50%  |    >= 1/3 |    150px
 * */
/**
 *----------|-----------|-----------|-----------|----------
 * 针对宽度为 480px 以下的设备的列数
 *  .Container 宽度 320   共 8 列
 *----------|-----------|-----------|-----------|----------
 *   8      |    8      |    8      |    8      |    4
 *----------|-----------|-----------|-----------|----------
 *   310px  |    310px  |    310px  |    310px  |    150px
 * */@import "layout/w-320";
/**
 *----------|-----------|-----------|-----------|----------
 * 针对宽度为 480px 至 640px 以下的设备
 *  .Container 宽度 480   共 12 列
 *----------|-----------|-----------|-----------|----------
 *   12     |    12     |    12     |    12     |    4
 *----------|-----------|-----------|-----------|----------
 *   470px  |    470px  |    470px  |    470px  |    150px
 * */@import "layout/w-480";
/**
 *----------|-----------|-----------|-----------|----------
 * 针对宽度为 640px 至 800px 以下的设备
 *  .Container 宽度 640   共 16 列
 *----------|-----------|-----------|-----------|----------
 *   16     |    16     |    16     |    16     |    4
 *----------|-----------|-----------|-----------|----------
 *   630px  |    630px  |    630px  |    630px  |    150px
 * */@import "layout/w-640";
/**
 *----------|-----------|-----------|-----------|----------
 * 针对宽度为 800px 至 1024px 以下的设备
 *  .Container 宽度 800   共 20 列
 *----------|-----------|-----------|-----------|----------
 *   20     |    20     |    20     |    20     |    4
 *----------|-----------|-----------|-----------|----------
 *   800px  |    800px  |    800px  |    800px  |    150px
 * */@import "layout/w-800";
/**
 *----------|-----------|-----------|-----------|----------
 * 针对宽度为 1025px 至 1360px 以下的设备
 *  .Container 宽度 1280  共 32 列
 *----------|-----------|-----------|-----------|----------
 *   32     |    32     |    32     |    32     |    4
 *----------|-----------|-----------|-----------|----------
 *   1270px |    800px  |    800px  |    800px  |    150px
 * */
/**
 * 针对宽度为 1025px 至 1360px 以下的设备
 *  .Container 宽度 1280
 *  共 32 列
 *  .large    32
 *  .big      20
 *  .normal   12(默认)
 *  .small    8(默认)
 *  .tiny     4(默认)
 * */@import "layout/w-1360";
/**
 * 针对宽度为 1920px 以下的设备
 *  .Container 宽度 1600
 *  共 40 列
 *  .large    40
 *  .big      30
 *  .normal   20
 *  .small    10
 *  .tiny     4(默认)
 * */@import "layout/w-1920";