@import "lib/grid.less";

/**
 *---------- Layout 布局 汇总 ----------
 *  布局使用栅格系统
 *  最大宽度/最小宽度由最外层的 .Container 来控制
 *
 *  默认标准 屏幕宽度 1024 以下 页面宽度 960
 *  针对标准显示器
 *      .Container 宽度 960
 *  共 24 列
 *      .large    24
 *      .big      16
 *      .normal   12
 *      .small    8
 *      .tiny     4
 *
 * */

// 主容器
.Container{
	overflow: hidden;
	position:relative;

	width: @grid-unit *24;

	margin:5px auto 50px;
}
/**
 * wrap 用来包裹模块中非 large 元素
 */
.wrap{
	margin: 0  -@grid-space;
}

.large{
	.grid-x(24);
}

.big{
	.grid-x(16);
}

.normal{
	.grid-x(12);
}

.small{
	.grid-x(8);
}

.tiny{
	.grid-x(4);
}

// 屏幕宽度 480 以下
@import "layout/w-320";

// 屏幕宽度 640 以下
@import "layout/w-480";

// 屏幕宽度 800 以下
@import "layout/w-640";

// 屏幕宽度 1024 以下
@import "layout/w-800";

// 屏幕宽度 1360 以下
@import "layout/w-1360";

// 屏幕宽度 1920 以下
@import "layout/w-1920";