@import "lib/color";
@import "lib/grid";

@import "lib/function";

@module-bg: #888;

/**
 *---------- Module 模块 汇总 ----------
 *
 *  模块根据特定的商业逻辑呈现不同的样式
 *  当我们建立一个模块时，里面使用的用户界面组件通常是不同的
 *  举例来说，一个页面的侧边栏可能会包含列表及按钮
 *  列表及按钮的基本样式已经定义在组件样式中的，如大小、边框、颜色等，并且不允许更改
 *  而其他的样式需要从侧边栏样式中继承而来，如定位等，这些样式是在模块样式中定义的
 *  这种样式分离的原则鼓励我们对样式预先进行仔细的规划，以及样式表的共享与重用性
 *
 *  模块为 .module
 *  .module-xxx 为模块类型或为针对业务对模块的扩展
 *      模块类型 目前有 6 种类型
 *      .module-metro   动态磁砖
 *      .module-main    页面主模块 为页面主要内容 一般一个页面只有一个 main 模块
 *      .module-popup   页面弹窗
 *  .module_xxx 为模块所包含的的子模块
 *
 *  example:
	<!-- 这是一个动态磁砖 -->
    <section class="module module-large module-metro module-blog">
        <h2 class="module_title">博客 blog</h2>
        <span class="module_info"><!-- 相关信息 --></span>
    </section>

	<!-- 这是一个页面主内容模块 -->
    <section class="module module-large module-main module-blog">
        <h2 class="module_title">博客 blog<h2>
        <div class="module_content">
            <!-- 详细内容 -->
        </div>
    </section>
 * */

// 模块样式
/*section,dialog*/.module{
	float:left;
	position: relative;
	margin: @grid-space;

	background-color: @module-bg;
	background-repeat: no-repeat;
}

//----- 模块标题 建议标签 h2 -----
/*h2*/.module_title{
	text-transform: capitalize;

	&.icon:before{
		position: absolute;
		top: -90px;
		left: 0;
		width: 100%;
		font-size: 90px;
		text-align: center;
	}
}

//----- 模块内容 -----
/*div*/.module_content{
	position: relative;
	overflow:hidden;
}
//----- 模块信息 -----
/*span*/.module_info{
    position: absolute;

    top: 0;
    right: 10px;

//    height: @module-info-height;

    //    padding-right: @module-info-padding-right;

    font-size: 18px;
    line-height: 40px;
    text-align: right;
}

//----- Main 主内容模块 ------
/*section*/.module-main{
	overflow: hidden;
	background-image: none;

	> .module_title,
	> .module_info{
		display: none;
	}

	> .module_content{

		margin: 40px 10px 10px;

		padding: 10px 10px 0 10px;

		background-color: #fff;
	}
}

//----- Metro 动态磁砖 -----
/*section*/.module-metro{
	height: 150px;

	background-position: center 20px;

	color: #fff;

	&:hover{
		background-color: @a-hover;
		color: @metro-hover_c;
	}

	> .module_title{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: auto;

		background: none;

		font-size: 20px;
		line-height: 30px;
//		text-indent: 10px;
		text-align: center;
	}

	> .module_content{
		display:none;
	}

	.toolbar{
		display: none;
	}
}

/*section*/.module-main{
	/*border-bottom: 5px solid #fff;*/
	float: none;

	.icon:before{
		font-size: 20px;
	}

	> .toolbar{
		position: absolute;
		top: 0;
		right: 0;

		> li{
			display: inline-block;
			position: relative;
		}

		.icon{
			width: 30px;
			height: 30px;
			//border-width: 0 0 1px 1px;
			background: #888;
		}
		.icon:before{
			margin: 0;
		}
		a.icon:before{
			margin: 4px;
		}
		.btn{
			outline: 0;
		}
		.btn:active{
			background: #999;
		}
	}
}

/*dialog*/.module-popup{
	overflow: hidden;
//	position: absolute;
	position: fixed;
	z-index: 130;
	top: 70px;
	left: 0;
	right: 0;
	min-height: 300px;
	max-height: 500px;

	border: 1px solid #888;

	margin: auto;
	padding: 0;

	outline: 100em solid rgba(0, 0, 0, .5);

	.boxShadow(~"2px 2px 5px #c0c0c0,2px -2px 5px #c0c0c0,-2px 2px 5px #c0c0c0,-2px -2px 5px #c0c0c0");

	opacity: 1;

	&::backdrop{
	  background: rgba(0, 0, 0, .5);
	}

	> .toolbar{
		position: absolute;
		top: 0;
		right: 0;

		> li{
			display: inline-block;
			position: relative;
		}
		.icon{
			width: 30px;
			height: 30px;
			//border-width: 0 0 1px 1px;
			background: #888;
		}
		.icon:before{
			margin: 0;
		}
		.btn{
			outline: 0;
		}
		.btn:active{
			background: #999;
		}
	}

	> .module_content{
		overflow: auto;
		height: 20em;
		margin: 40px 0 0;
		padding: 0;
		background-color: #fff;
	}

	.formGroup{
		position: relative;
		min-height: 3em;

		border: 1px solid #c0c0c0;
		border-radius: 10px;
		margin: 30px 10px;

		.label{
			position: absolute;
			z-index: 10;
			top: -8px;
			left: 1em;
			margin-left: -5px;
			padding: 0 5px;
			background: #fff;
			color: #c0c0c0;
			font-size: 14px;
			line-height: 1;
		}

		.input-score{
			float: left;
		}
		.icon-star{
			float: right;
			margin-left: 14px;
			color: #888;
			font-size: 24px;
		}

		.btn{
			position: absolute;
			top: 10px;
			bottom: 10px;
			right: 10px;
		}

		.tagsArea{
			margin: 10px;
		}
	}
	.input{
		display: block;
		height: 48px;
		//height: 100%;
		width: 100%;
		//border: 1px solid #c0c0c0;
		border: 0;
		border-radius: 10px;
		margin: 0;
		padding: 0;
		font-size: 14px;
		//line-height: 48px;
		text-indent: 1em;

		.boxSizing(border-box);

		&:focus{
			outline: 0;
		}
	}
}


//----- 功能模块样式 -----    todo
// 以下顺序同时为 metro.png 中图标的顺序
//@import "module/user";        // 用户中心
//
//@import "module/palette";     // 调色板

@import "module/document";    // 文档

@import "module/editor";      // 编码

@import "module/time";       // 时钟

//@import "module/blog";        // 博客
//
//@import "module/calendar";    // 日历
//
//@import "module/profile";   // 个人资料
//
//@import "module/weather";     // 天气
//
//@import "module/favorite";    // 收藏夹
//
@import "module/reader";          // 订阅
//
////@import "module/timeLine";    // 时间轴
//
//@import "module/advert";      // 广告区
//
//@import "module/popup";       // 弹窗
//
////@import "module/header";      // 页头
////
////@import "module/footer";      // 页脚