# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Node.js 模块依赖
node_modules/

# Bower 前端模块
bower_components/

# idea 项目文件
.idea
*.iml

npm-debug.log

# 离线缓存文件 此文件为动态生成
public/cache.manifest

# 样式文件 由 less 编译生成
public/style/style.css
public/style/style.css.map

# 图片文件夹
#public/image/
public/image/ugc/
public/image/upload/

# 多媒体文件夹（包括视频、音频、flash 等）
public/media/

# 文件上传文件夹
public/upload/

doc/

validator.html
test.html

test/
build/

requirement/

backup/

log/

keys/

static/newFrameDemo/dist
static/webpack-loader/dist
static/frameDoc
static/bigDemo
less/ui/
module/model/
src/lib/testFrame/track/
src/lib/testFrame/url/
static/tgouDoc/
work/

dist/
!/module/test/

server_config.js

upload/