# Node.js 模块依赖
node_modules/

# Bower 前端模块
bower_components/

# idea 项目文件
.idea
*.iml

# 离线缓存文件 此文件为动态生成
public/cache.manifest

# 样式文件 由 less 编译生成
public/style/style.css

# 图片文件夹
#public/image/

# 多媒体文件夹（包括视频、音频、flash 等）
public/media/

# 文件上传文件夹
public/upload/

impress/

doc.html
test.html

doc/

requirement/

allUniv.js