@import "../config/color.config.less";
@import "../lib/function.less";
@import "../lib/grid.less";

//---------- watch 时钟 ----------
/*svg*/.watch{
	&_wrap{
		stroke: @metro_c;
		stroke-width: 4px;
		fill: transparent;
	}

	&_mark{
		fill: @metro_c;
	}

	&_hour,
	&_minute,
	&_second{
		fill: @metro_c;
	}
}