@keyframes up {
  0% {
    transform: translate3d(0, 100%, 0); }
  100% {
    transform: none; } }

@keyframes right {
  0% {
    transform: translate3d(100%, 0, 0); }
  100% {
    transform: none; } }

@keyframes bottom {
  0% {
    transform: translate3d(0, -100%, 0); }
  100% {
    transform: none; } }

@keyframes left {
  0% {
    transform: translate3d(-100%, 0, 0); }
  100% {
    transform: none; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    transform: none; } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    transform: none; } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    transform: none; } }

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  100% {
    opacity: 1;
    transform: none; } }

@keyframes fadeInLeftUp {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 100%, 0); }
  100% {
    opacity: 1;
    transform: none; } }

@keyframes fadeInRightUp {
  0% {
    opacity: 0;
    transform: translate3d(100%, 100%, 0); }
  100% {
    opacity: 1;
    transform: none; } }

@keyframes fadeInRightDown {
  0% {
    opacity: 0;
    transform: translate3d(100%, -100%, 0); }
  100% {
    opacity: 1;
    transform: none; } }

@keyframes fadeInLeftDown {
  0% {
    opacity: 0;
    transform: translate3d(-100%, -100%, 0); }
  100% {
    opacity: 1;
    transform: none; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOutUp {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translate3d(0, -100%, 0); } }

@keyframes fadeOutRight {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translate3d(100%, 0, 0); } }

@keyframes fadeOutDown {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translate3d(0, 100%, 0); } }

@keyframes fadeOutLeft {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); } }

@keyframes fadeOutLeftUp {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translate3d(-100%, -100%, 0); } }

@keyframes fadeOutRightUp {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translate3d(100%, -100%, 0); } }

@keyframes fadeOutRightDown {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translate3d(100%, 100%, 0); } }

@keyframes fadeOutLeftDown {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translate3d(-100%, 100%, 0); } }

@keyframes bounceIn {
  0%, 100%, 20%, 40%, 60%, 80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1); } }

@keyframes bounceInUp {
  0%, 100%, 60%, 75%, 90% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, -25px, 0); }
  75% {
    transform: translate3d(0, 10px, 0); }
  90% {
    transform: translate3d(0, -5px, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

@keyframes bounceInRight {
  0%, 100%, 60%, 75%, 90% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0); }
  75% {
    transform: translate3d(10px, 0, 0); }
  90% {
    transform: translate3d(-5px, 0, 0); }
  100% {
    transform: none; } }

@keyframes bounceInDown {
  0%, 100%, 60%, 75%, 90% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0); }
  75% {
    transform: translate3d(0, -10px, 0); }
  90% {
    transform: translate3d(0, 5px, 0); }
  100% {
    transform: none; } }

@keyframes bounceInLeft {
  0%, 100%, 60%, 75%, 90% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0); }
  75% {
    transform: translate3d(-10px, 0, 0); }
  90% {
    transform: translate3d(5px, 0, 0); }
  100% {
    transform: none; } }

@keyframes bounceInLeftUp {
  0%, 100%, 60%, 75%, 90% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(25px, -25px, 0); }
  75% {
    transform: translate3d(-10px, 10px, 0); }
  90% {
    transform: translate3d(5px, -5px, 0); }
  100% {
    transform: none; } }

@keyframes bounceInRightUp {
  0%, 100%, 60%, 75%, 90% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(3000px, 3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(-25px, -25px, 0); }
  75% {
    transform: translate3d(10px, 10px, 0); }
  90% {
    transform: translate3d(-5px, -5px, 0); }
  100% {
    transform: none; } }

@keyframes bounceInRightDown {
  0%, 100%, 60%, 75%, 90% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(3000px, -3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 25px, 0); }
  75% {
    transform: translate3d(10px, -10px, 0); }
  90% {
    transform: translate3d(-5px, 5px, 0); }
  100% {
    transform: none; } }

@keyframes bounceInLeftDown {
  0%, 100%, 60%, 75%, 90% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, -3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(25px, 25px, 0); }
  75% {
    transform: translate3d(-10px, -10px, 0); }
  90% {
    transform: translate3d(5px, 5px, 0); }
  100% {
    transform: none; } }

@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9); }
  50%, 55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1); }
  100% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); } }

@keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0); }
  40%, 45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0); }
  100% {
    opacity: 0;
    transform: translate3d(0, -2000px, 0); } }

@keyframes bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0); }
  100% {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); } }

@keyframes bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0); }
  40%, 45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0); }
  100% {
    opacity: 0;
    transform: translate3d(0, 2000px, 0); } }

@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0); }
  100% {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); } }

@keyframes bounceOutLeftUp {
  20% {
    transform: translate3d(-10px, -10px, 0); }
  40%, 45% {
    opacity: 1;
    transform: translate3d(20px, 20px, 0); }
  100% {
    opacity: 0;
    transform: translate3d(-2000px, -2000px, 0); } }

@keyframes bounceOutRightUp {
  20% {
    transform: translate3d(10px, -10px, 0); }
  40%, 45% {
    opacity: 1;
    transform: translate3d(-20px, 20px, 0); }
  100% {
    opacity: 0;
    transform: translate3d(2000px, -2000px, 0); } }

@keyframes bounceOutRightDown {
  20% {
    transform: translate3d(10px, 10px, 0); }
  40%, 45% {
    opacity: 1;
    transform: translate3d(-20px, -20px, 0); }
  100% {
    opacity: 0;
    transform: translate3d(2000px, 2000px, 0); } }

@keyframes bounceOutLeftDown {
  20% {
    transform: translate3d(-10px, 10px, 0); }
  40%, 45% {
    opacity: 1;
    transform: translate3d(20px, -20px, 0); }
  100% {
    opacity: 0;
    transform: translate3d(-2000px, 2000px, 0); } }

@keyframes flipIn {
  0% {
    opacity: 0;
    transform: perspective(400px) rotate3d(0, 1, 0, -180deg);
    animation-timing-function: ease-out; }
  40% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, 10deg);
    animation-timing-function: ease-out; }
  50% {
    opacity: 1;
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -10deg);
    animation-timing-function: ease-in; }
  80% {
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    animation-timing-function: ease-in; }
  100% {
    opacity: 1;
    transform: perspective(400px);
    animation-timing-function: ease-in; } }

@keyframes flipInUp {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  100% {
    transform: perspective(400px); } }

@keyframes flipInRight {
  0% {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg); }
  100% {
    transform: perspective(400px); } }

@keyframes flipInDown {
  0% {
    transform: perspective(400px) rotate3d(-1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(-1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(-1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(-1, 0, 0, -5deg); }
  100% {
    transform: perspective(400px); } }

@keyframes flipInLeft {
  0% {
    transform: perspective(400px) rotate3d(0, -1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(0, -1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(0, -1, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(0, -1, 0, -5deg); }
  100% {
    transform: perspective(400px); } }

@keyframes flipInLeftUp {
  0% {
    transform: perspective(400px) rotate3d(1, -1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(1, -1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(1, -1, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(1, -1, 0, -5deg); }
  100% {
    transform: perspective(400px); } }

@keyframes flipInRightUp {
  0% {
    transform: perspective(400px) rotate3d(1, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(1, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(1, 1, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(1, 1, 0, -5deg); }
  100% {
    transform: perspective(400px); } }

@keyframes flipInRightDown {
  0% {
    transform: perspective(400px) rotate3d(-1, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(-1, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(-1, 1, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(-1, 1, 0, -5deg); }
  100% {
    transform: perspective(400px); } }

@keyframes flipInLeftDown {
  0% {
    transform: perspective(400px) rotate3d(-1, -1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(-1, -1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(-1, -1, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(-1, -1, 0, -5deg); }
  100% {
    transform: perspective(400px); } }

@keyframes flipOut {
  0% {
    opacity: 1;
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out; }
  40% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    animation-timing-function: ease-out; }
  50% {
    opacity: 0;
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    animation-timing-function: ease-in; }
  80% {
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    animation-timing-function: ease-in; }
  100% {
    opacity: 0;
    transform: perspective(400px);
    animation-timing-function: ease-in; } }

@keyframes flipOutUp {
  0% {
    transform: perspective(400px); }
  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1; }
  100% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0; } }

@keyframes flipOutRight {
  0% {
    transform: perspective(400px); }
  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    opacity: 1; }
  100% {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0; } }

@keyframes flipOutDown {
  0% {
    transform: perspective(400px); }
  30% {
    transform: perspective(400px) rotate3d(-1, 0, 0, -20deg);
    opacity: 1; }
  100% {
    transform: perspective(400px) rotate3d(-1, 0, 0, 90deg);
    opacity: 0; } }

@keyframes flipOutLeft {
  0% {
    transform: perspective(400px); }
  30% {
    transform: perspective(400px) rotate3d(0, -1, 0, -20deg);
    opacity: 1; }
  100% {
    transform: perspective(400px) rotate3d(0, -1, 0, 90deg);
    opacity: 0; } }

@keyframes flipOutLeftUp {
  0% {
    transform: perspective(400px); }
  30% {
    transform: perspective(400px) rotate3d(1, -1, 0, -20deg);
    opacity: 1; }
  100% {
    transform: perspective(400px) rotate3d(1, -1, 0, 90deg);
    opacity: 0; } }

@keyframes flipOutRightUp {
  0% {
    transform: perspective(400px); }
  30% {
    transform: perspective(400px) rotate3d(1, 1, 0, -20deg);
    opacity: 1; }
  100% {
    transform: perspective(400px) rotate3d(1, 1, 0, 90deg);
    opacity: 0; } }

@keyframes flipOutRightDown {
  0% {
    transform: perspective(400px); }
  30% {
    transform: perspective(400px) rotate3d(-1, 1, 0, -20deg);
    opacity: 1; }
  100% {
    transform: perspective(400px) rotate3d(-1, 1, 0, 90deg);
    opacity: 0; } }

@keyframes flipOutLeftDown {
  0% {
    transform: perspective(400px); }
  30% {
    transform: perspective(400px) rotate3d(-1, -1, 0, -20deg);
    opacity: 1; }
  100% {
    transform: perspective(400px) rotate3d(-1, -1, 0, 90deg);
    opacity: 0; } }

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

@keyframes zoomInUp {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

@keyframes zoomInRight {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

@keyframes zoomInDown {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

@keyframes zoomInLeft {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

@keyframes zoomInLeftUp {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

@keyframes zoomInRightUp {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

@keyframes zoomInRightDown {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, -1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

@keyframes zoomInLeftDown {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, -1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

@keyframes zoomOut {
  0% {
    opacity: 1; }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  100% {
    opacity: 0; } }

@keyframes zoomOutUp {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  100% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

@keyframes zoomOutRight {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0); }
  100% {
    opacity: 0;
    transform: scale(0.1) translate3d(2000px, 0, 0);
    transform-origin: right center; } }

@keyframes zoomOutDown {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  100% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

@keyframes zoomOutLeft {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0); }
  100% {
    opacity: 0;
    transform: scale(0.1) translate3d(-2000px, 0, 0);
    transform-origin: left center; } }

@keyframes zoomOutLeftUp {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  100% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-2000px, -2000px, 0);
    transform-origin: left bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

@keyframes zoomOutRightUp {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  100% {
    opacity: 0;
    transform: scale(0.1) translate3d(2000px, -2000px, 0);
    transform-origin: right bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

@keyframes zoomOutRightDown {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, -60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  100% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(2000px, 2000px, 0);
    transform-origin: right bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

@keyframes zoomOutLeftDown {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, -60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  100% {
    opacity: 0;
    transform: scale(0.1) translate3d(-2000px, 2000px, 0);
    transform-origin: left bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

.an {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeIn; }

.an-in {
  animation-name: fadeIn; }

.an-out {
  animation-name: fadeOut; }

.an-left {
  animation-name: fadeInLeft; }

.an-right {
  animation-name: fadeInRight; }

.an-up {
  animation-name: fadeInUp; }

.an-down {
  animation-name: fadeInDown; }

.an-left.an-up {
  animation-name: fadeInLeftUp; }

.an-left.an-down {
  animation-name: fadeInLeftDown; }

.an-right.an-up {
  animation-name: fadeInRightUp; }

.an-right.an-down {
  animation-name: fadeInRightDown; }

.an-fade {
  animation-name: fadeIn; }
  .an-fade.an-in {
    animation-name: fadeIn; }
    .an-fade.an-in.an-left {
      animation-name: fadeInLeft; }
    .an-fade.an-in.an-right {
      animation-name: fadeInRight; }
    .an-fade.an-in.an-up {
      animation-name: fadeInUp; }
    .an-fade.an-in.an-down {
      animation-name: fadeInDown; }
    .an-fade.an-in.an-left.an-up {
      animation-name: fadeInLeftUp; }
    .an-fade.an-in.an-left.an-down {
      animation-name: fadeInLeftDown; }
    .an-fade.an-in.an-right.an-up {
      animation-name: fadeInRightUp; }
    .an-fade.an-in.an-right.an-down {
      animation-name: fadeInRightDown; }
  .an-fade.an-out {
    animation-name: fadeOut; }
    .an-fade.an-out.an-left {
      animation-name: fadeOutLeft; }
    .an-fade.an-out.an-right {
      animation-name: fadeOutRight; }
    .an-fade.an-out.an-up {
      animation-name: fadeOutUp; }
    .an-fade.an-out.an-down {
      animation-name: fadeOutDown; }
    .an-fade.an-out.an-left.an-up {
      animation-name: fadeOutLeftUp; }
    .an-fade.an-out.an-left.an-down {
      animation-name: fadeOutLeftDown; }
    .an-fade.an-out.an-right.an-up {
      animation-name: fadeOutRightUp; }
    .an-fade.an-out.an-right.an-down {
      animation-name: fadeOutRightDown; }

.an-bounce {
  animation-name: bounceIn; }
  .an-bounce.an-in {
    animation-name: bounceIn; }
    .an-bounce.an-in.an-left {
      animation-name: bounceInLeft; }
    .an-bounce.an-in.an-right {
      animation-name: bounceInRight; }
    .an-bounce.an-in.an-up {
      animation-name: bounceInUp; }
    .an-bounce.an-in.an-down {
      animation-name: bounceInDown; }
    .an-bounce.an-in.an-left.an-up {
      animation-name: bounceInLeftUp; }
    .an-bounce.an-in.an-left.an-down {
      animation-name: bounceInLeftDown; }
    .an-bounce.an-in.an-right.an-up {
      animation-name: bounceInRightUp; }
    .an-bounce.an-in.an-right.an-down {
      animation-name: bounceInRightDown; }
  .an-bounce.an-out {
    animation-name: bounceOut; }
    .an-bounce.an-out.an-left {
      animation-name: bounceOutLeft; }
    .an-bounce.an-out.an-right {
      animation-name: bounceOutRight; }
    .an-bounce.an-out.an-up {
      animation-name: bounceOutUp; }
    .an-bounce.an-out.an-down {
      animation-name: bounceOutDown; }
    .an-bounce.an-out.an-left.an-up {
      animation-name: bounceOutLeftUp; }
    .an-bounce.an-out.an-left.an-down {
      animation-name: bounceOutLeftDown; }
    .an-bounce.an-out.an-right.an-up {
      animation-name: bounceOutRightUp; }
    .an-bounce.an-out.an-right.an-down {
      animation-name: bounceOutRightDown; }

.an-flip {
  animation-name: flipIn; }
  .an-flip.an-in {
    animation-name: flipIn; }
    .an-flip.an-in.an-left {
      animation-name: flipInLeft; }
    .an-flip.an-in.an-right {
      animation-name: flipInRight; }
    .an-flip.an-in.an-up {
      animation-name: flipInUp; }
    .an-flip.an-in.an-down {
      animation-name: flipInDown; }
    .an-flip.an-in.an-left.an-up {
      animation-name: flipInLeftUp; }
    .an-flip.an-in.an-left.an-down {
      animation-name: flipInLeftDown; }
    .an-flip.an-in.an-right.an-up {
      animation-name: flipInRightUp; }
    .an-flip.an-in.an-right.an-down {
      animation-name: flipInRightDown; }
  .an-flip.an-out {
    animation-name: flipOut; }
    .an-flip.an-out.an-left {
      animation-name: flipOutLeft; }
    .an-flip.an-out.an-right {
      animation-name: flipOutRight; }
    .an-flip.an-out.an-up {
      animation-name: flipOutUp; }
    .an-flip.an-out.an-down {
      animation-name: flipOutDown; }
    .an-flip.an-out.an-left.an-up {
      animation-name: flipOutLeftUp; }
    .an-flip.an-out.an-left.an-down {
      animation-name: flipOutLeftDown; }
    .an-flip.an-out.an-right.an-up {
      animation-name: flipOutRightUp; }
    .an-flip.an-out.an-right.an-down {
      animation-name: flipOutRightDown; }

.an-zoom {
  animation-name: zoomIn; }
  .an-zoom.an-in {
    animation-name: zoomIn; }
    .an-zoom.an-in.an-left {
      animation-name: zoomInLeft; }
    .an-zoom.an-in.an-right {
      animation-name: zoomInRight; }
    .an-zoom.an-in.an-up {
      animation-name: zoomInUp; }
    .an-zoom.an-in.an-down {
      animation-name: zoomInDown; }
    .an-zoom.an-in.an-left.an-up {
      animation-name: zoomInLeftUp; }
    .an-zoom.an-in.an-left.an-down {
      animation-name: zoomInLeftDown; }
    .an-zoom.an-in.an-right.an-up {
      animation-name: zoomInRightUp; }
    .an-zoom.an-in.an-right.an-down {
      animation-name: zoomInRightDown; }
  .an-zoom.an-out {
    animation-name: zoomOut; }
    .an-zoom.an-out.an-left {
      animation-name: zoomOutLeft; }
    .an-zoom.an-out.an-right {
      animation-name: zoomOutRight; }
    .an-zoom.an-out.an-up {
      animation-name: zoomOutUp; }
    .an-zoom.an-out.an-down {
      animation-name: zoomOutDown; }
    .an-zoom.an-out.an-left.an-up {
      animation-name: zoomOutLeftUp; }
    .an-zoom.an-out.an-left.an-down {
      animation-name: zoomOutLeftDown; }
    .an-zoom.an-out.an-right.an-up {
      animation-name: zoomOutRightUp; }
    .an-zoom.an-out.an-right.an-down {
      animation-name: zoomOutRightDown; }
