
/*----- 组件 -----*/
.logo{
	float: left;
	width: 38px;
	height: 40px;
	/*border: solid #fff;*/
	/*border-width: 0 1px;*/
	padding: 0 !important;
	background: url("../image/logo.png") no-repeat center;
}
.logo:hover{
	background-color: #d35400;
}

.Container{
	/** 进入硬件加速 **/
	/*-webkit-transform: translateZ(0);*/
	/*-moz-transform: translateZ(0);*/
	/*-ms-transform: translateZ(0);*/
	/*transform: translateZ(0);*/

	-webkit-animation: 1s both;
	-moz-animation: 1s both;
	-ms-animation: 1s both;
	animation: 1s both;
}

.hideMetro .module-metro{
	display: none;
}

.module{
}

.module-show{}
.module-hide{}

.timeLine{
	overflow: hidden;
	position: relative;
	min-height: 80px;
}
.timeLine:before{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50px;
	width: 10px;
	background: #fff;
}
.timeNode{
 	position: relative;
 	margin: 5px;
}
.timeNode:before{
	position: absolute;
	height: 0;
	width: 0;

	border: 5px solid transparent;
	border-right-color: #fff;

	content: "";
}
/*.timeNode a.icon-user{*/
	/*height: 28px;*/
	/*width: 28px;*/
	/*border: 1px solid #fff;*/
/*}*/

.message{
	position: relative;
	border: 1px solid #fff;
	border-radius: 5px;
	margin-left: 50px;
	padding: 10px;
}
.message:before{
	position: absolute;
	top: 5px;
	left: -20px;
	height: 0;
	width: 0;
	border: 10px solid transparent;
	border-right-color: #fff;

	content: "";
}
.message:after{
	position: absolute;
	top: 5px;
	left: -19px;
	height: 0;
	width: 0;
	border: 10px solid transparent;
	border-right-color: #000;

	content: "";
}
.datetime{
	float: right;
}

.article{
	border: 1px #c0c0c0 solid;
	margin-bottom: 10px;
	padding: 10px;
}
.article_title{
	/*border-bottom: 1px dotted #c0c0c0;*/
}
.article_preview{
	display: block;
	margin: 10px auto 0;
}

/* bower */
.wrap{
	overflow: auto;
	margin-left: 152px;
	margin-bottom: 10px;
}
.bower_resultList{
	overflow: auto;
	height: 17em;
	margin-bottom: 10px;
	/*border: solid #c0c0c0;*/
	/*border-width: 1px 0;*/
}
.bower_resultList table{
	width: 100%;
}
.bower_resultList th,
.bower_resultList td{
	height: 100px;
	min-width: 100px;
	border: 1px solid #c0c0c0;
	color: #000;
	text-align: center;
}
.lib_table{
	table-layout: fixed;
}
.lib_table th,
.lib_table td{
	height: 100px;
	min-width: 100px;
	border: 1px solid #c0c0c0;
	color: #000;
}
.lib_table th{
	text-align: center;
}
.lib_table td:nth-child(n+2){
	text-indent: 2em;
	white-space: nowrap;
}
.lib_table th:first-child,
.lib_table td:first-child{
	position: absolute;
	left: 10px;
	/*height: 100px;*/
	width: 150px;
	line-height: 100px;
	text-align: center;
}
.lib_table p{
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/*table{*/
	/*table-layout: fixed;*/
	/*/!*margin-bottom: 10px;*!/*/
/*}*/

/*th, td{*/
	/*height: 100px;*/
	/*min-width: 100px;*/
	/*border: 1px solid #c0c0c0;*/
	/*color: #000;*/
/*}*/
/*td p{*/
	/*width: 100%;*/
	/*overflow: hidden;*/
	/*text-overflow: ellipsis;*/
	/*white-space: nowrap;*/
/*}*/

#info li{
	overflow: hidden;
}

.bower_level{
	float: left;
	min-width: 80px;
	margin: 0 10px;
	color: red;
}

.bower_level:before{
	content: "["
}

.bower_level:after{
	content: "]"
}

.bower_id{
	float: left;
	min-width: 120px;
	margin: 0 10px;
	color: green
}

.bower_message{
	float: left;
	margin: 0 0 0 20px;
}

.module-popup th,
.module-popup td{
	height: 2em;
}

.module-popup th:first-child,
.module-popup td:first-child{
	width: 150px;
	text-align: center;
}

.module-popup th:last-child, .module-popup td:last-child{
	overflow: hidden;
	max-width: 300px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.showModal{
	position: absolute;
	top: 0;
	left: 0;
}



.editor-4col .editor_area-html{
	top: 0;
	bottom: 0;
	left: 0;
	width: calc(25% - 10px);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.editor-4col .editor_area-css{
	top: 0;
	bottom: 0;
	left: 25%;
	width: calc(25% - 10px);
	margin-left: -10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.editor-4col .editor_area-js{
	top: 0;
	bottom: 0;
	left: 50%;
	width: calc(25% - 10px);
	margin-left: -20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.editor-4col .editor_area-rs{
	top: 0;
	bottom: 0;
	left: 75%;
	width: calc(25% - 20px);
	margin-left: -30px;
}