.Container{
	/** 进入硬件加速 **/
	/*-webkit-transform: translateZ(0);*/
	/*-moz-transform: translateZ(0);*/
	/*-ms-transform: translateZ(0);*/
	/*transform: translateZ(0);*/

	-webkit-animation: 1s both;
	-moz-animation: 1s both;
	-ms-animation: 1s both;
	animation: 1s both;
}







#info ul{
	margin: 0 10px;
}
#info li{
	overflow: hidden;
}
#info .icon-checkbox,
#info .icon-radio{
	margin-right: 10px;
}
#info .btn:disabled,
#info .btn[disabled="disabled"]{
	border-color: #aaa;
	background: #ccc;
}

.module-popup th,
.module-popup td{
	height: 2em;
}
.module-popup th:first-child,
.module-popup td:first-child{
	width: 150px;
	text-align: center;
}
.module-popup th:last-child, .module-popup td:last-child{
	overflow: hidden;
	max-width: 300px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.showModal{
	position: absolute;
	top: 0;
	left: 0;
}

.editor_panel{
	height: 26px;
}
.editor_panel .icon:before{
	position: absolute;
	bottom: 0;
	top: 0;
	right: 0;
	min-width: 0;
	width: 20px;
	border: 0;
	padding: 0;
	font-size: 12px;
	line-height: 2em;
}
.editor_incFile{
	overflow: hidden;
	float: left;
	position: relative;
	border: 1px solid #c0c0c0;
	height: 2em;
	width: 4em;
	padding: 0 20px 0 0;
	background: transparent;
	color: #c0c0c0;
	font-size: 12px;

	line-height: 2;
	text-align: left;

	text-overflow: ellipsis;
	white-space: nowrap;

	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.module-user{
	background: #fff !important;

	-webkit-transition: width 1s;
	-moz-transition: width 1s;
	-ms-transition: width 1s;
	-o-transition: width 1s;
	transition: width 1s;
}
.module-user .module_content{
	padding: 18px;
}
.module-user .user_avatar{
	float: left;
	height: 110px;
	width: 110px;
}
.module-user .user_avatar img{
	min-width: 100%;
}
.module-user form{
	margin-top: -10px;
}
.module-user .btn-submit{
	float: right;
	height: 110px;
	width: 110px;
	font-size: 24px;
	font-weight: bold;
	line-height: 110px;
}
.module-user .formGroup{
	margin: 10px 120px;
}