
/*----- 公用类 -----*/
.hidden{
	display:none;
}

/*----- 动画 -----*/
@-webkit-keyframes fadeOut{
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-moz-keyframes fadeOut{
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-ms-keyframes fadeOut{
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes fadeOut{
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fadeIn{
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-moz-keyframes fadeIn{
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-ms-keyframes fadeIn{
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeIn{
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*----- 组件 -----*/
.logo{
	float: left;
	width: 38px;
	height: 40px;
	border: solid #fff;
	border-width: 0 1px;
	padding: 0 !important;
	background: url("../image/logo.png") no-repeat center;
}
.toolbar{
	float: right;
	z-index: 130;
	font-size: 0;
	line-height: 1em;
}
.toolbar > li{
	display: inline-block;
}
.toolbar .icon{
	float: left;
	width: 38px;
	height: 40px;
	border: solid #fff;
	border-width: 0 1px;
	padding: 0 !important;
	background-position: center center;
	background-repeat: no-repeat;
}
.toolbar .icon:before{
	margin: 10px;
	font-size: 20px;
}

.Container{
	/** 进入硬件加速 **/
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);

	-webkit-animation: 1s both;
	-moz-animation: 1s both;
	-ms-animation: 1s both;
	animation: 1s both;
}
.fadeOut{
	-webkit-animation-name: fadeOut;
	-moz-animation-name: fadeOut;
	-ms-animation-name: fadeOut;
	animation-name: fadeOut;
}
.fadeIn{
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-ms-animation-name: fadeIn;
	animation-name: fadeIn;
}
.hideMetro .module-metro{
	display: none;
}

.module{
}

.module-show{}
.module-hide{}


.module-main{
	/*border-bottom: 5px solid #fff;*/
	float: none;
}
.module-metro .toolbar{
	display: none;
}
.module-main > .toolbar{
	position: absolute;
	top: 0;
	right: 0;
}
.module-main > .toolbar > li{
	display: inline-block;
	position: relative;
}
.module-main > .toolbar .icon{
	width: 29px;
	height: 29px;
	border-width: 0 0 1px 1px;
}
.module_title.icon:before{
	position: absolute;
	top: -90px;
	left: 0;
	width: 100%;
	font-size: 90px;
	text-align: center;
}
.module-main .icon{
}
.module-main .icon:before{
	margin: 5px;
	font-size: 20px;
}

.module-popup{
	position: absolute;
	top: 70px;
	left: 0;
	right: 0;
	height: 100px;
	margin: auto;

	opacity: 1;
}

.module_content article,
.module_content section,
.module_content h3,
.module_content .editor_container{
	background: #000;
	margin-bottom: 10px;
}

.timeLine{
	overflow: hidden;
	position: relative;
	min-height: 80px;
}
.timeLine:before{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50px;
	width: 10px;
	background: #fff;
}
.timeNode{
 	position: relative;
 	margin: 5px;
}
.timeNode:before{
	position: absolute;
	height: 0;
	width: 0;

	border: 5px solid transparent;
	border-right-color: #fff;

	content: "";
}
/*.timeNode a.icon-user{*/
	/*height: 28px;*/
	/*width: 28px;*/
	/*border: 1px solid #fff;*/
/*}*/

.message{
	position: relative;
	border: 1px solid #fff;
	border-radius: 5px;
	margin-left: 50px;
	padding: 10px;
}
.message:before{
	position: absolute;
	top: 5px;
	left: -20px;
	height: 0;
	width: 0;
	border: 10px solid transparent;
	border-right-color: #fff;

	content: "";
}
.message:after{
	position: absolute;
	top: 5px;
	left: -19px;
	height: 0;
	width: 0;
	border: 10px solid transparent;
	border-right-color: #000;

	content: "";
}
.datetime{
	float: right;
}

/*----- editor -----*/
.editor_container{
	overflow: hidden;
	padding-bottom: 10px;
}
.editor_area{
	position: relative;
	height: 200px;
	margin: 10px 0 0;
	background: #888;
}
.editor_area label{
	position: absolute;
	z-index: 120;
	top: 10px;
	right: 25px;
	min-width: 100px;
	border: 1px solid #a1a1a1;
	border-radius: 10px;
	background: #efefef;
	color: #000;
	font-size: 12px;
	line-height: 2em;
	text-align: center;
	opacity: .4;
}
iframe{
	display: block;
	height: 100%;
	width: 100%;
	border: 1px solid #ddd;
	background: #fff;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
textarea{
	border: 1px solid #efefef;
	border-radius: 5px;
	margin: 5px;
}
.list{
	overflow: auto;
	position: absolute;
	top: 30px;
	right: 0;
	height: 16em;
	margin-bottom: -1px;
	font-size: 14px;
}
.list li{
	overflow: hidden;
	position: relative;
	height: 2em;
	/*width: 10em;*/
	border-bottom: 1px solid #fff;
	padding: 0 1em;
	background: #000;

	line-height: 2em;
	white-space: nowrap;

	cursor: pointer;

	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.list .on{
	border: 1px solid #fff;
}
.list li:hover{
	background: #444;
}

.editor-4row .editor_area-html{
	position: fixed;
	top: 0;
	bottom: 75%;
	left: 0;
	right: 0;
	height: auto;
	margin: 0;
	padding: 5px;
}
.editor-4row .editor_area-css{
	position: fixed;
	top: 25%;
	bottom: 50%;
	left: 0;
	right: 0;
	height: auto;
	margin: 0;
	padding: 5px;
}
.editor-4row .editor_area-js{
	position: fixed;
	top: 50%;
	bottom: 25%;
	left: 0;
	right: 0;
	height: auto;
	margin: 0;
	padding: 5px;
}
.editor-4row .editor_area-rs{
	position: fixed;
	top: 75%;
	bottom: 0;
	left: 0;
	right: 0;
	height: auto;
	margin: 0;
	padding: 5px;
}
.editor-4col .editor_area-html{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 75%;
	height: auto;
	margin: 0;
	padding: 5px;
}
.editor-4col .editor_area-css{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 25%;
	right: 50%;
	height: auto;
	margin: 0;
	padding: 5px;
}
.editor-4col .editor_area-js{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 50%;
	right: 25%;
	height: auto;
	margin: 0;
	padding: 5px;
}
.editor-4col .editor_area-rs{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 75%;
	right: 0;
	height: auto;
	margin: 0;
	padding: 5px;
}
.editor-4cor .editor_area-html{
	position: fixed;
	top: 0;
	bottom: 60%;
	left: 0;
	right: 50%;
	height: auto;
	margin: 0;
	padding: 5px;
}
.editor-4cor .editor_area-css{
	position: fixed;
	top: 0;
	bottom: 60%;
	left: 50%;
	right: 0;
	height: auto;
	margin: 0;
	padding: 5px;
}
.editor-4cor .editor_area-js{
	position: fixed;
	top: 40%;
	bottom: 0;
	left: 0;
	right: 50%;
	height: auto;
	margin: 0;
	padding: 5px;
}
.editor-4cor .editor_area-rs{
	position: fixed;
	top: 40%;
	bottom: 0;
	left: 50%;
	right: 0;
	height: auto;
	margin: 0;
	padding: 5px;
}

.CodeMirror{
	height: 100%;
	border: 1px solid #ddd;
	font-family: inherit;
	font-size: 13px;
	line-height: 1em;
	text-indent: 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.CodeMirror-scroll{
	overflow: scroll !important;
	/*max-height: 200px;*/
}
.CodeMirror pre{
	padding-left: 7px;
	line-height: 1.25;
}
.CodeMirror-gutters{
	padding-bottom: 0;
}
.CodeMirror-gutter{
	margin-bottom: -30px;
	padding-bottom: 0;
}

/*----- document -----*/
.section_title{
	text-indent: 1em;
	line-height: 30px;
}
.section_title .icon{
	float: right;
	height: 30px;
	text-indent: 0;
}
dl{
	margin: 0;
}
dt{
	cursor: pointer;
	text-indent: 2em;
}
dd{
	display: none;
	overflow: hidden;
	margin: 0 10px;
	font-size: 12px;
	text-indent: 2em;
}

.fullScreen{
	position: fixed;
	z-index: 10;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: auto;
	width: auto;
	margin: 0;
}