@import "../config/rect.config.scss";

.input{
    height: $formItemHeight;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    line-height: 3;
    text-indent: 1em;
    box-sizing: border-box;
}