@mixin textLimit($line){
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: $line;
}

@mixin textFixed($line, $lineHeight){
    overflow: hidden;
    display: -webkit-box;
    height: $lineHeight * $line;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: $line;
}

@mixin textAlign($align: left){
    text-align: $align;
}

@mixin fontWeight($weight: bold){
    font-weight: $weight;
}

.text-center{
    @include textAlign( center );
}
.text-right{
    @include textAlign( right );
}


.text{
    &.center{
        @include textAlign( center );
    }
    &.right{
        @include textAlign( right );
    }

    &.bold{
        @include fontWeight();
    }
    &.bolder{
        @include fontWeight( bolder );
    }
    &.light{
        @include fontWeight( lighter );
    }
}

.bold{
    @include fontWeight();
}
.bolder{
    @include fontWeight( bolder );
}
.light{
    @include fontWeight( lighter );
}