@import "../config/color.config.less";

/**
 * 文章

 .article
    .article_title
    img.article_preview
    .article_content
    hr
    time.article_data[pubdate=pubdate datetime]
    .tagsArea
 */

/*article*/.article{
	border: 1px solid @article_bd_c;
	border-radius: 10px;

	margin-bottom: 10px;
	padding: 10px;

	background: @article_bg_c;
}
.article_title{
	/*border-bottom: 1px dotted #c0c0c0;*/
}
.article_preview{
	display: block;
	margin: 10px auto 0;
}