@import "../config/color.config.less";
@import "../lib/grid.less";

/**
 * 文章

 .article
    .article_title
    img.article_preview
    .article_content
    hr
    time.article_data[pubdate=pubdate datetime]
    .tagsArea
 */

/*article*/.article{
	//border: 1px solid @article_bd_c;
	border-radius: 10px;

	//margin-bottom: 10px;
	margin: 10px @grid-space;
	padding: 10px;

	background: @article_bg_c;


	&_title{
		/*border-bottom: 1px dotted #c0c0c0;*/
	}
	&_preview{
		display: block;
		margin: 10px auto 0;
	}

	p{
		//margin: 0;
		//margin-after: .5em;
		text-align: justify;
		text-indent: 2em;
		text-justify: ideographic;
		word-break: break-all;
	}

	&_content{
		hr{
			border-top: 1px dotted #c0c0c0;
			margin: auto 10px;
		}
	}
}