/**
 * 文章

 .article
    .article_title
    img.article_preview
    .article_content
    hr
    time.article_data[pubdate=pubdate datetime]
    .tagsArea
 */

/*article*/.article{
	border: 1px solid #c0c0c0;
	border-radius: 10px;

	margin-bottom: 10px;
	padding: 10px;

	background: #fafafa;
}
.article_title{
	/*border-bottom: 1px dotted #c0c0c0;*/
}
.article_preview{
	display: block;
	margin: 10px auto 0;
}