/**
 * 按钮相关
 *  btnGroup 是用来包裹按钮，button、input:submit、input:reset、input:button 可以用在表单中
 * */
/*div*/.btnGroup{
	text-align: center;
}

.btn{
	display: inline-block;
	min-width: 4em;
	padding: 0 1em;
	border: 1px solid #00bfff;
	border-radius: 5px;
	background: -webkit-linear-gradient(top, #00ffff, #00bfff);
	color: #fff;
	line-height: 2em;

	&[disabled],
	&-disabled{

	}

	&-submit{}
	&-reset{}

	&-link{}
}
