@import "../config/color.config.less";

//----- Code 代码 -----
/*span*/.code{
	display: inline-block;
	border-radius: 4px;
	padding: 0 4px;

	background-color: @code_bg_c;
	//color: @code_c;
	font-size: 90%;

	font-family: consolas,monospace;

	text-indent: 0;
	word-break: break-word;
	word-wrap: break-word;

	&:hover{
		background: @code-hover_bg_c;
		color: @code-hover_c;

		cursor: pointer;
	}
}