@import "../config/color.config.less";
@import "../lib/function.less";

/**
 * 标签过滤盒子
 div.filterBox
    form
        div.formGroup
			div.input.input-tag
			    div.formGroup
			        input.tag_name[type=text name=tag]
			        button.btn.icon.icon-plus.tag_add[type=button]
			        ul.hidden.list.list-inline.scrollBar.tag_pointOut
		        div.tag_area
		        textarea.hidden[name=tags]
		div.btnGroup
			button.btn.btn-submit[type=submit]{过滤}
 */
.filterBox{
	display: none;
	overflow: auto;
	position: absolute;
	top: 45px;
	right: 0;
	//right: 5px;
	//width: 300px;

	border: 1px solid #888;
	margin-bottom: -1px;
	outline: #fff solid 1px;

	background: #fff;

	font-size: 14px;
	text-align: left;

	.boxSizing(border-box);

	.formGroup{

		.btn{
			margin: 0;
		}
	}

	.btnGroup{
		margin: 10px;
	}
}