@import "../lib/color.less";
@import "../lib/function.less";
@import "../config/color.config.less";

/**
 * 表单相关
 *  formGroup 是用来包裹 input 和 label 等进行布局，一个表单项用一个

 div.formGroup
    input.input

 div.formGroup
    div.input-score

 div.formGroup
    div.input-tag

 div.formGroup
    div.input-pickGroup
 * */
.input{

	display: block;

	min-height: 48px;
	width: 100%;

	border: 0;
	border-radius: 10px;
	margin: 0;
	padding: 0;

	font-size: 14px;

	text-indent: 1em;

	-webkit-appearance: none;

	.boxSizing(border-box);

	/**
	 * 禁用 PC 端表单输入框默认清除按钮
	 */
	&::-ms-clear{
		display: none;
	}

	/**
	 * Android 上去掉语音输入按钮
	 */
	&::-webkit-input-speech-button{
		display: none;
	}

	// placeholder
	&::-webkit-input-placeholder{ /* WebKit browsers */
		color: @input_placeholder_c;
	}
	&:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
		color: @input_placeholder_c;
		opacity:  1;
	}
	&::-moz-placeholder{ /* Mozilla Firefox 19+ */
		color: @input_placeholder_c;
		opacity:  1;
	}
	&:-ms-input-placeholder{ /* Internet Explorer 10+ */
		color: @input_placeholder_c;
	}

	&:focus{
		outline: 0;

		&::-webkit-input-placeholder{ /* WebKit browsers */
			color: @input_placeholder_focus_c;
		}
		&:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
			color: @input_placeholder_focus_c;
		}
		&::-moz-placeholder{ /* Mozilla Firefox 19+ */
			color: @input_placeholder_focus_c;
		}
		&:-ms-input-placeholder{ /* Internet Explorer 10+ */
			color: @input_placeholder_focus_c;
		}
	}

	/*textarea*/&-multiply{
        padding: 1em;
        min-height: 9em;
        text-indent: 0;
    }

	/**
	 * 评分
	 div.input-score
		input#star5[type=radio name=score value=5]
		label.icon.icon-star[for=star5]
		input#star4[type=radio name=score value=4]
		label.icon.icon-star[for=star4]
		input#star3[type=radio name=score value=3]
		label.icon.icon-star[for=star3]
		input#star2[type=radio name=score value=2]
		label.icon.icon-star[for=star2]
		input#star1[type=radio name=score value=1]
		label.icon.icon-star[for=star1]
	 */
	/*div*/&-score{
       float: left;

       .icon-star{
	       float: right;
	       margin-left: 14px;
	       color: #888;
	       font-size: 24px;
       }
	}

	/**
	 * 标签
	 div.input-tag
	    div.formGroup
	        input.input[type=text name=tag placeholder=请输入标签 data-validator=tag]
	        button.btn.tag_add[type=button]{添加}
	        ul.hidden.list.scrollBar.tag_pointOut
        div.tag_area
        textarea.hidden[name=tags]
	 */
	/*div*/&-tag{
		.tag_area{
			min-height: 48px;
			margin: 0 5px;
		}

		.tag_pointOut{
			overflow: auto;
			position: absolute;
			z-index: 11;
			left: 0;
			right: 0;
			max-height: 172px;
			border: 1px solid @input-tag_pointOut_bd_c;
			background: @input-tag_pointOut_bg_c;

			li{
				height: auto;
				border-bottom: 1px solid @input-tag_pointOut_li_bd_c;
				.boxSizing(border-box);
			}
		}
	}
	/**
	 * 评分
	 div.input-pickGroup
		label.icon.icon-radio
			input[type=radio]
		label.icon.icon-radio
			input[type=radio]

	div.input-pickGroup
		label.icon.icon-checkbox
			input[type=checkbox]
		label.icon.icon-checkbox
			input[type=checkbox]
	 */
	/*div*/&-pickGroup{
		float: left;

		line-height: 46px;

		.icon-radio,
		.icon-checkbox{
			float: left;
			//margin-left: 14px;
			color: #888;
			//font-size: 24px;

			&:before{
				margin-right: 1.2em;
			}
		}
	}

	/**
	 * 日期时间
	 div.input.input-datetime
	    input[type=date]
        input[type=time]
	 */
	&-datetime{
		[type="date"],
		[type="time"]{
			float: left;
			width: 50%;
			line-height: 46px;
		}
	}

	&-radio{}
	&-checkbox{}
	&-select{}

	&[type="file"]{
		position: relative;
		top: 13px;
		padding-left: 1em;
		text-indent: 0;
	}
}

/*div*/.formGroup{
	position: relative;
	min-height: 3em;
	border: 1px solid #c0c0c0;
	border-radius: 10px;
	margin: 10px;


	&-half{
		@margin: 10px *2 + 2px;
		width: calc(~"50% - @{margin}");
	}

	/*div*/.formGroup{
		position: relative;
		border: 0;
		border-bottom: 1px solid @formGroup_formGroup_bd_c;
		border-radius: 0;
		margin: 0 10px;
	}
	/*label*/.label{
		position: absolute;
		z-index: 10;
		top: -8px;
		left: 1em;
		margin-left: -5px;
		padding: 0 5px;
		background: #fff;
		color: #c0c0c0;
		font-size: 14px;
		line-height: 1;
	}

	/*button*/.btn{
		position: absolute;
		top: 10px;
		bottom: 10px;
		right: 10px;
		margin: 0;
	}
}
/*label*/.checkbox{

}
/*label*/.radio{

}

:checked + .icon-radio:before{
	&:extend(.icon-radio-checked:before);
}
:checked + .icon-checkbox:before{
	&:extend(.icon-checkbox-checked:before);
}
:checked ~ .icon-star:before{
	&:extend(.icon-star-full:before);
}

[type="checkbox"],
[type="radio"]{
	display: none;

	/**
	 * 禁用 radio 和 checkbox 默认样式
	 *  可使用背景图片
	 */
	&::-ms-check{
		display: none;
	}
}
:checked{

}

//// textarea
//textarea::-webkit-input-placeholder:after{
//	display:block;
//	content:"line@ \A line#";/* \A 表示换行 */
//	color:red;
//};
//textarea::-moz-placeholder:after{
//	content:"line@ \A line#";/* \A 表示换行 */
//	color:red;
//};

select,
option{
	-webkit-appearance: none;
}

select{
	/**
	 * 禁用 select 默认下拉箭头
	 *  可使用背景图片
	 */
	&::-ms-expand{
		display: none;
	}
}