@import "../lib/color";
@import "../config/color.config.less";

/**
 * 表单相关
 *  formGroup 是用来包裹 input 和 label 等进行布局，一个表单项用一个
 * */

//@placeholder: #888;

.input{
	-webkit-appearance: none;


	&::-webkit-input-placeholder{ /* WebKit browsers */
		color: @input_placeholder_c;
	}
	&:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
		color: @input_placeholder_c;
		opacity:  1;
	}
	&::-moz-placeholder{ /* Mozilla Firefox 19+ */
		color: @input_placeholder_c;
		opacity:  1;
	}
	&:-ms-input-placeholder{ /* Internet Explorer 10+ */
		color: @input_placeholder_c;
	}

	&:focus{
		outline: 0;

		&::-webkit-input-placeholder{ /* WebKit browsers */
			color: @input_placeholder_focus_c;
		}
		&:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
			color: @input_placeholder_focus_c;
		}
		&::-moz-placeholder{ /* Mozilla Firefox 19+ */
			color: @input_placeholder_focus_c;
		}
		&:-ms-input-placeholder{ /* Internet Explorer 10+ */
			color: @input_placeholder_focus_c;
		}
	}

	/*textarea*/&-multiply{}

	&-radio{}
	&-checkbox{}
	&-select{}
}

/*div*/.formGroup{

}
/*label*/.checkbox{

}
/*label*/.radio{

}

:checked + .icon-radio:before{
	&:extend(.icon-radio-checked:before);
}
:checked + .icon-checkbox:before{
	&:extend(.icon-checkbox-checked:before);
}
:checked ~ .icon-star:before{
	&:extend(.icon-star-full:before);
}

[type="checkbox"],
[type="radio"]{
	display: none;
}
:checked{

}

//// textarea
//textarea::-webkit-input-placeholder:after{
//	display:block;
//	content:"line@ \A line#";/* \A 表示换行 */
//	color:red;
//};
//textarea::-moz-placeholder:after{
//	content:"line@ \A line#";/* \A 表示换行 */
//	color:red;
//};

select,
option{
	-webkit-appearance: none;
}