/**
 * 表单相关
 *  formGroup 是用来包裹 input 和 label 等进行布局，一个表单项用一个
 * */
@import "../lib/color";

@placeholder: #888;

/*div*/.formGroup{

}
/*label*/.checkbox{

}
/*label*/.radio{

}

:checked + .icon-radio:before{
	content: '\e800';
}
:checked + .icon-checkbox:before{
	content: '\e803';
}

.icon-radio:before { content: '\e800'; } /* '' */
.icon-radio-checked:before { content: '\e801'; } /* '' */
.icon-checkbox:before { content: '\e802'; } /* '' */
.icon-checkbox-checked:before { content: '\e803'; } /* '' */

[type="checkbox"],
[type="radio"]{
	display: none;
}
:checked{

}


::-webkit-input-placeholder { /* WebKit browsers */
	color: @placeholder;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: @placeholder;
	opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: @placeholder;
	opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: @placeholder;
}

// textarea
textarea::-webkit-input-placeholder:after{
	display:block;
	content:"line@ \A line#";/* \A 表示换行 */
	color:red;
};
textarea::-moz-placeholder:after{
	content:"line@ \A line#";/* \A 表示换行 */
	color:red;
};