/**
 *----- 页面补全 -----
	radio	            radio
	radio-checked	    radio:checked
	checkbox	        checkbox
	checkbox-checked	checkbox:checked

 *----- 方向箭头 -----
	up	    上箭头
	down	下箭头
	left	左箭头
	right	右箭头

 *-----	天气 -----
	sun	    太阳
	cloud	云
	rain	下雨
	snow	下雪
	thunder	闪电

 *----- 浏览器 -----
	firefox	火狐
	chrome	谷歌
	opera	Opera
	ie	    IE

 *----- 第三方 -----
	renren	人人
	qq	    QQ
	wechat	微信
	weibo	微博

 *----- 应用图标 -----
	talk	    聊天
	calendar	日历
	document	文档
	editor	    编辑器
	bookmark	书签
	rss	        RSS
	mail	    邮箱
	picture	    图片
	user	    用户
	group	    群组
	home	    主页
	tags	    标签
	edit	    编辑
	filter	    过滤
	folder	    文件夹
	search	    搜索
	play	    播放
	warming	    警告
	ok	        确定
	cancel	    取消
	plus	    加号
	minus	    减号
	heart	    心
	heart-empty	心-空
	star	    星
	star-half	星-半
	star-empty	星-空

	male	    性别-男
	female	    性别-女
	yen	        人民币

	code	    代码
	css3	    CSS3
	html5	    HTML5
	copyright	版权
	layout      布局
	skin        皮肤
 * */

@font-face {
	font-family: 'font';
	src: url('../font/font.eot');
	src: url('../font/font.eot#iefix') format('embedded-opentype'),
		url('../font/font.woff') format('woff'),
		url('../font/font.ttf') format('truetype'),
		url('../font/font.svg#font') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon{
	a&{
		margin-right: 10px;
	}

	a&:hover:before{
		text-decoration: none;
	}
}

.icon:before{
	display: inline-block;
	width: 1em;
    *margin-left: .2em;
//	margin-right: .2em;

	font-family: "font";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;

	line-height: 1em;

	speak: none;

	text-align: center;
	text-decoration: inherit;
	text-transform: none;
}


.icon-radio:before { content: '\e800'; } /* '' */
/** 表单  form.less
    :checked + .icon-radio:before{
		content: '\e801';
    }
 */
//.icon-radio-checked:before { content: '\e800'; } /* '' */
.icon-checkbox:before { content: '\e802'; } /* '' */
/** 表单  form.less
    :checked + .icon-checkbox:before{
		content: '\e803';
    }
 */
//.icon-checkbox-checked:before { content: '\e803'; } /* '' */

.icon-up:before { content: '\e804'; } /* '' */
.icon-down:before { content: '\e805'; } /* '' */
.icon-left:before { content: '\e806'; } /* '' */
.icon-right:before { content: '\e807'; } /* '' */

.icon-sun:before { content: '\e808'; } /* '' */
.icon-cloud:before { content: '\e809'; } /* '' */
.icon-rain:before { content: '\e80a'; } /* '' */
.icon-snow:before { content: '\e80b'; } /* '' */
.icon-thunder:before { content: '\e80c'; } /* '' */

.icon-firefox:before { content: '\e80d'; } /* '' */
.icon-chrome:before { content: '\e80e'; } /* '' */
.icon-opera:before { content: '\e80f'; } /* '' */
.icon-ie:before { content: '\e810'; } /* '' */

.icon-renren:before { content: '\e811'; } /* '' */
.icon-qq:before { content: '\e812'; } /* '' */
.icon-wechat:before { content: '\e813'; } /* '' */
.icon-weibo:before { content: '\e814'; } /* '' */

.icon-html5:before { content: '\e815'; } /* '' */
.icon-css3:before { content: '\e816'; } /* '' */

.icon-male:before { content: '\e817'; } /* '' */
.icon-female:before { content: '\e818'; } /* '' */

.icon-plus:before { content: '\e819'; } /* '' */
.icon-minus:before { content: '\e81a'; } /* '' */

.icon-ok:before { content: '\e81b'; } /* '' */
.icon-cancel:before { content: '\e81c'; } /* '' */

.icon-heart-empty:before { content: '\e81d'; } /* '' */
.icon-heart:before { content: '\e81e'; } /* '' */

.icon-star-empty:before { content: '\e81f'; } /* '' */
.icon-star-half:before { content: '\e820'; } /* '' */
.icon-star:before { content: '\e821'; } /* '' */

.icon-yen:before { content: '\e822'; } /* '' */

.icon-window:before { content: '\e823'; } /* '' */
.icon-play:before { content: '\e824'; } /* '' */
.icon-skin:before { content: '\e825'; } /* '' */
.icon-layout:before { content: '\e826'; } /* '' */
.icon-row4:before { content: '\e827'; } /* '' */
.icon-col4:before { content: '\e828'; } /* '' */
.icon-cor4:before { content: '\e829'; } /* '' */
.icon-lib:before { content: '\e82a'; } /* '' */
.icon-auto:before { content: '\e82b'; } /* '' */
.icon-save:before { content: '\e82c'; } /* '' */
.icon-file-code:before { content: '\e82d'; } /* '' */
.icon-code:before { content: '\e82e'; } /* '' */
.icon-search:before { content: '\e82f'; } /* '' */
.icon-filter:before { content: '\e830'; } /* '' */
.icon-edit:before { content: '\e831'; } /* '' */
.icon-folder:before { content: '\e832'; } /* '' */
.icon-tags:before { content: '\e833'; } /* '' */
.icon-settle:before { content: '\e834'; } /* '' */
.icon-warming:before { content: '\e835'; } /* '' */
.icon-home:before { content: '\e836'; } /* '' */
.icon-user:before { content: '\e837'; } /* '' */
.icon-group:before { content: '\e838'; } /* '' */
.icon-copyright:before { content: '\e839'; } /* '' */

.icon-talk:before { content: '\e83a'; } /* '' */
.icon-calendar:before { content: '\e83b'; } /* '' */
.icon-document:before { content: '\e83c'; } /* '' */
.icon-editor:before { content: '\e83d'; } /* '' */
.icon-bookmark:before { content: '\e83e'; } /* '' */
.icon-rss:before { content: '\e83f'; } /* '' */
.icon-mail:before { content: '\e840'; } /* '' */
.icon-picture:before { content: '\e841'; } /* '' */
.icon-video:before { content: '\e842'; } /* '' */