@import "../config/color.config.less";

@list: list;

/*ul,ol*/.@{list}{
	list-style: none;

	&-number{
		list-style: decimal;
	}

	&_item{

		&-check{

		}
	}

}
/*ul*/.list{
	overflow: auto;
	position: absolute;
	top: 40px;
	right: 0;
	max-height: 16em;
	margin-bottom: -1px;
	outline: 1px solid #fff;
	background: #888;
	font-size: 14px;

	li{
		overflow: hidden;
		position: relative;
		height: 2em;
		//max-width: 10em;
		border-bottom: 1px solid #fff;
		padding: 0 1em;
		background: #888;

		color: #fff;

		line-height: 2em;
		text-align: left;
		white-space: nowrap;

		cursor: pointer;

		-ms-text-overflow: ellipsis;
		text-overflow: ellipsis;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		&:hover{
			background: #444;
		}
		&:last-child{
			border: 0;
		}
	}

	.active{
		background: #444;
	}

	&-inline{
		li{
			float: left;
		}
	}

	&-tree{}

	&-img{
		li{
			float: left;
		}

		img{

		}
	}
}