@import "../lib/function.less";
@import "../config/color.config.less";


.loading{
	position: relative;
	min-height: 50px;
}
.loading-chasing{
	position: relative;
	height: 50px;
	width: 50px;
	margin: 55px auto;

	text-align: center;

	.animation(rotate-360 2s infinite linear);


	&:before,
	&:after{
		display: inline-block;
		position: absolute;
		top: 0;
		height: 30px;
		width: 30px;
		border-radius: 100%;
		background-color: @loading_bg_c;

		content: "";

		.animation(bounce 2s infinite ease-in-out);
	}
	&:after{
		top: auto;
		bottom: 0;

		.animation-delay(-1s);
	}
}