@import "../config/color.config.less";

.logo{
	float: left;
	width: 38px;
	height: 40px;
	/*border: solid #fff;*/
	/*border-width: 0 1px;*/
	padding: 0 !important;
	background: url("../image/logo.png") no-repeat center;

	text-indent: -1000em;

	&:hover{
		background-color: @logo_hover_bg_c;
	}
}