@import "../config/color.config.less";
@import "../lib/function.less";
@import "../lib/grid.less";

//----- Metro 动态磁砖 -----
/**
 * metro 模块

 a[href]
    section.metro.tiny
        h2.module_title.icon
        span.module_info
 * */
/*section*/.metro{
	//display: inline-block;

	float: left;

	position: relative;
	height: @metro_height;

	border: 2px solid @metro_c;
	border-radius: @border-radius;
	margin: @grid-space;

	color: @metro_c;

	.boxSizing(border-box);

	&:hover{
		border-color: @metro-hover_bd_c;
		background: @metro-hover_bg_c -webkit-linear-gradient(top, @metro-hover_bg_gradient_s, @metro-hover_bg_gradient_e);
		color: @metro-hover_c;
	}

	&_title{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: @metro_title_height;

		font-size: 20px;
		line-height: @metro_title_height;
		text-align: center;
	}

	.icon:before{
		position: absolute;
		top: @metro_title_icon_top;
		height: @metro_title_icon_height;
		left: 0;
		right: 0;

		margin: auto;

		font-size: @metro_title_icon_height;
		text-align: center;
	}

	&_info{
		position: absolute;
		top: 0;
		right: 5px;
		height: @metro_info_height;

		font-size: 12px;
		line-height: @metro_info_height;
		text-align: right;
	}

	&-time{
		&:hover{
			.watch{
				&_wrap{
					stroke: #fff;
				}
				&_mark{
					fill: #fff;
				}
				&_hour,
				&_minute,
				&_second{
					fill: #fff;
				}
			}
		}
	}

	&-tiny{
		transtion:all 1s;
		height:40px;
		width:40px;

		.metro_title{
			height: 38px;
			line-height: 40px;
			text-indent: -1000em;
		}
		.icon:before{
			top: 0;
			height: auto;
			font-size: 20px;
			line-height: 40px;
			text-indent: 0;
		}
	}
}