.pagination{
	margin: 0 -5px 10px;
	text-align: center;
}
.page{
	display: inline-block;
	height: 30px;
	width: 30px;
	border: 1px solid #c0c0c0;
	border-radius: 8px;
	margin: 5px;
	font-size: 16px;

	&:hover{
		border-color: #d35400;
	}

	&-first,
	&-last{

	}

	&-prev,
	&-next{
		width: 4em;
	}
	&-current{
		background: #c0c0c0;
		color: #fff !important;

		&:hover{
			border-color: #c0c0c0;
		}
	}
}