@import "../config/color.config.less";
@import "../lib/function.less";

/**
 * 搜索条
 div.searchBar
    form
        div.formGroup
            input.input:text[name=keyword]
            button.btn.icon.icon-search[type=submit]
 */
.searchBar{
	display: none;
	overflow: auto;
	position: absolute;
	top: 40px;
	right: 5px;
	//width: 320px;

	border: 1px solid #888;
	margin-bottom: -1px;
	outline: #fff solid 1px;

	background: #fff;

	font-size: 16px;

	.boxSizing(border-box);

	.formGroup{

		.btn{
			margin: 0;
		}
	}
}