@import "../config/color.config.less";

.tag{
	display: inline-block;
	min-width: 4em;
	border: 1px solid @tag_bd_c;

	border-radius: 8px;
	//border-radius: 20px;
	margin: 5px;
	padding: 0 1em 0 .5em;

	background: -webkit-linear-gradient(top, @tag_bg_gradient_s, @tag_bg_gradient_e);

	color: @tag_c;

	font-size: 12px;
	line-height: 2.5;

	text-align: center;

	cursor: pointer;

	&-checked{
		background: @tag_checked_bg_c -webkit-linear-gradient(top, @tag_checked_bg_gradient_s, @tag_checked_bg_gradient_e);
	}
	&:before:extend(.icon:before):extend(.icon-tags:before){
		float: left;
		font-size: 16px;
		line-height: 2.5* 12px;
		margin-right: 10px;
	}
}
.tagInput{
	position: relative;
	border-bottom: 1px solid @tagInput_bd_c;
	margin: 0 10px;
}
.tagsArea{
	//margin: 5px;
}