.tag{
	display: inline-block;
	min-width: 4em;
	border: 1px solid #c0c0c0;
	border-radius: 20px;
	margin: 5px;
	padding: 0 .5em;

	background: -webkit-linear-gradient(top,#eee,#888);

	color: #fff;
	text-align: center;

	cursor: pointer;

	&-checked{
		background: #ccc;
		background-image: -webkit-linear-gradient(top,#888,#eee);
	}
}
.tagInput{
	position: relative;
	border-bottom: 1px solid #c0c0c0;
}
.tagsArea{
	margin: 5px;
}