@import "../config/color.config.less";
@import "../config/zIndex.config.less";

.toolbar{
	float: right;
	z-index: @toolbar_z;
	font-size: 0;
	line-height: 1em;

	> li{
		display: inline-block;
		z-index: @toolbar_li_z;
	}
	.icon{
		float: left;
		//height: 40px;
		//width: 40px;
		height: 30px;
		width: 30px;
		//border: solid #fff;
		//border-width: 0 1px;
		//border: 0;
		border: 1px solid @toolbar_bd_c;
		border-radius: 5px;
		margin: 5px;
		padding: 0;
		//outline: 1px solid #fff;
//		background-position: center center;
//		background-repeat: no-repeat;
		color: @toolbar_c;

		text-decoration: none;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		&:hover,
		&.active{
			border-color: @toolbar_hover_bd_c;
			//background: @toolbar_hover_bg_c -webkit-linear-gradient(top, @toolbar_hover_bg_gradient_s, @toolbar_hover_bg_gradient_e);

			background-color: #fff;
			color: @toolbar_hover_c;

		}
		
		&:before{
			//margin: 10px;
			margin: 4px;

			font-size: 20px;
			//text-indent: -2px;
		}
	}
}