.toolbar{
	float: right;
	z-index: 130;
	font-size: 0;
	line-height: 1em;

	> li{
		display: inline-block;
	}
	.icon{
		float: left;
		width: 38px;
		height: 40px;
		border: solid #fff;
		border-width: 0 1px;
		padding: 0 !important;
//		background-position: center center;
//		background-repeat: no-repeat;
		color: #fff;
	}
	.icon:before{
		margin: 10px;
		font-size: 20px;
	}
}