@import "../lib/function.less";
@import "../lib/grid.less";

@import "../config/color.config.less";

//---------- Blog 博客文章 ----------
.module-blog{
//    .metroBgSprite(3);
//	background-image: url("../image/default/metro/Blog.png");

    .module_title{
        //background-image:url("../image/default/metro-small/blog.png");
    }

	.module_content{
		min-height: 500px;

		//margin-bottom: -@space;
	}

	.formGroup{
		margin: 20px 0 0;
		background: #fff;

		.formGroup{
			//overflow: hidden;
			border-radius: 10px 10px 0 0;
			margin-top: 0;
		}
	}

    //.tag:after{
    //    background: @article-tagsArea-bg;
    //}

	//.article{
	//	margin-bottom: 10px;
	//}

	//.article_content{
	//	padding-top: 1px;
	//}

    //p{
	 //   margin: 10px 0 0;
    //}

	.CodeMirrorExtend(auto);

	.edit_CodeMirror{
		height: 300px;
		margin-top: 10px;
	}
}
.blog-detail{

}
.blog-list{

}

.module-blog .article_content{
	border: 1px solid #ddd;
	border-radius: 10px;
	margin: 5px 5px 20px;
	padding: 20px;
	background: #fff;
}
.module-blog th,
.module-blog td{
	height: auto;
	min-width: 100px;
	border: 1px solid #c0c0c0;
	padding: 10px 5px;
	color: #000;
	line-height: 2;
	text-indent: 0;
}
.module-blog blockquote{
	display: block;
	border-radius: 10px;
	padding: 10px;
	background: #fafafa;
	color: #999;
	line-height: 2em;
}
.module-blog .article_content ul{
	padding-left: 50px;
	list-style: disc
}