@import "../lib/function.less";
@import "../lib/grid.less";

@import "../config/color.config.less";

//---------- Blog 博客文章 ----------
.module-blog{
//    .metroBgSprite(3);
//	background-image: url("../image/default/metro/Blog.png");

    .module_title{
        //background-image:url("../image/default/metro-small/blog.png");
    }

	.module_content{
		min-height: 500px;

		margin-bottom: -@space;
	}

	.formGroup{
		margin: 20px 0 0;
		background: #fff;

		.formGroup{
			border-radius: 10px 10px 0 0;
			margin-top: 0;
		}
	}

    //.tag:after{
    //    background: @article-tagsArea-bg;
    //}

	//.article{
	//	margin-bottom: 10px;
	//}

	//.article_content{
	//	padding-top: 1px;
	//}

    //p{
	 //   margin: 10px 0 0;
    //}

	.CodeMirrorExtend(auto);

	.edit_CodeMirror{
		height: 300px;
		margin-top: 10px;
	}
}
.blog-detail{

}
.blog-list{

}