@charset "utf-8";

@import "../lib/color.less";
@import "../lib/function.less";
@import "../lib/grid.less";

//---------- Blog 博客文章 ----------
.module-blog{
//    .metroBgSprite(3);
	background-image: url("../image/default/metro/Blog.png");

    .module_title{
        background-image:url("../image/default/metro-small/blog.png");
    }

	.module_content{
		min-height: 500px;

		margin-bottom: -@space;
	}

	.form_group{
		margin: 0 10px 10px 0;
	}

    .tag:after{
        background: @article-tagsArea-bg;
    }

	.article{
		margin-bottom: 10px;
	}

	.article_content{
		padding-top: 1px;
	}

    p{
	    margin: 10px 0 0;
    }

    .xhe_default table.xheLayout{
        border: none;
    }
}
.blog-detail{

}
.blog-list{

}