@import "../lib/function.less";
@import "../lib/grid.less";

@import "../config/color.config.less";

//---------- Document 文档 ---------
.module-document{
	.module_content{
		//padding-top: 10px;
	}

	dl{
		margin: 0 0 -1px;
	}
	dt{
		width: 96%;
		border-bottom: 1px dashed #ddd;
		margin: auto;
		cursor: pointer;
		line-height: 40px;

		&.icon:before{
			margin: 0 5px 0 0;
			font-size: 1em;
			text-indent: 0;
		}
		.icon{
			float: right;

			height: 30px;
			width: 30px;

			margin: 5px;
			padding: 0;

			line-height: 30px;
			text-indent: 0;
			//text-align: center;
		}
	}
	dd{
		display: none;
//		overflow: hidden;

		width: 90%;

//		border: 1px solid #ddd;
		margin: 0 auto 1em;

//		margin: 0 10px;
//		margin-left: 3em;
		padding: 0 10px;

		font-size: 14px;
		text-indent: 2em;

		//p{
		//	margin: 0;
		//	margin-after: .5em;
		//	text-align: justify;
		//	text-indent: 2em;
		//	text-justify: ideographic;
		//	word-break: break-all;
		//}

		.btn{
			display: block;
			margin: 10px auto 0;
		}
	}

	table{
		margin-bottom: 10px;
	}
	th,
	td{
		height: auto;
		min-width: 100px;
		border: 1px solid #c0c0c0;
		padding: 10px 5px;
		color: #000;
		line-height: 2;
		text-indent: 0;
	}

	.CodeMirrorExtend(auto);

	.edit_CodeMirror{
		height: 300px;
		margin-top: 10px;
	}
}

.document_section{
	border: 1px solid #ddd;

	ul,
	ol{
		margin-left: 2em;
		padding-left: 2em;
	}
	ul{
		list-style: disc;
	}
	li{
		margin-bottom: .5em;
		text-indent: 0;
	}
}

/*----- document -----*/
.section_title{
	height: 2em;
	text-indent: 1em;
	line-height: 2em;

	cursor: pointer;

	.icon{
		float: right;
		height: 30px;
		text-indent: 0;

		&:before{
			margin: 5px;
		}
	}

	button.icon{
		width: 30px;
		margin: 9px 5px;
		padding: 0;
		text-indent: -1px;
	}
}