@charset "utf-8";

@import "../lib/color.less";
@import "../lib/function.less";
@import "../lib/grid.less";
//@import "../lib/text-indent";
//@import "../lib/z-index.less";

//---------- Document 文档 ---------
.module-document{
	dl{
		margin: 0 0 -1px;
	}
	dt{
		width: 96%;
		border-bottom: 1px dashed #ddd;
		margin: auto;
		cursor: pointer;
		line-height: 40px;
//		text-indent: 1em;
	}
	dd{
		display: none;
//		overflow: hidden;

		width: 90%;

//		border: 1px solid #ddd;
		margin: 0 auto 1em;

//		margin: 0 10px;
//		margin-left: 3em;
		padding: 0 10px;

		font-size: 14px;
		text-indent: 2em;
	}
	dt.icon:before{
		margin: 0 5px 0 0;
		font-size: 1em;
		text-indent: 0;
	}

	ul,
	ol{
		margin-left: 2em;
		padding-left: 2em;
	}
	ul{
		list-style: disc;
	}
	li{
		text-indent: 0;
	}
//	.icon{
//		padding: 0;
//		background-position: 10px 10px;
//	}
//    p{
//        margin:0;
//    }
//	ol{
//		text-indent: 0;
//	}
//	/**
//	 * @extend  ../component/code.less
//	 */
//	span.code{
//		display: inline-block;
//		text-indent: 0;
//		line-height: 150%;
//	}
//
//    table{
//        width: 100%;
//    }
//    th,
//    td{
//        border: 1px solid @border-color;
//	    padding: 0 5px;
//
//        text-align: center;
//		text-indent: 0;
//    }
//
//    .syntaxhighlighter{
//        width: auto !important;
//
//        border: 1px solid @border-color;
//        margin: 0 !important;
//        padding: 5px 0;
//
//        text-indent:0;
//    }

	.CodeMirror{
		height: auto;
		outline: 1px solid #ddd;
		font-family: inherit;
		font-size: 13px;
		line-height: 1em;
		text-indent: 0;

		.boxSizing( border-box );
	}
	.CodeMirror-scroll{
		overflow: scroll !important;
		/*max-height: 200px;*/
	}
	.CodeMirror pre{
		padding-left: 7px;
		line-height: 1.25;
	}
	.CodeMirror-gutters{
		padding-bottom: 0;
	}
	.CodeMirror-gutter{
		margin-bottom: -30px;
		padding-bottom: 0;
	}
}

.document_section{
//    margin-bottom: @space;
//    padding: 0 0 0 @space;
//    background: @document_section-bg;

	border: 1px solid #ddd;
	margin-bottom: 10px;

//	.section_title{
//		padding-right: 70px;
//	}
}

/*----- document -----*/
.section_title{
	height: 2em;
	text-indent: 1em;
	line-height: 2em;

	.icon{
		float: right;
		height: 30px;
		text-indent: 0;
	}
	.icon:before{
		margin: 5px;
	}
}