@import "../lib/function.less";
@import "../lib/grid.less";

@import "../config/color.config.less";

//---------- Document 文档 ---------
.module-document{
	.module_content{
		//padding-top: 10px;
	}

	dl{
		margin: 0 0 -1px;
	}
	dt{
		width: 96%;
		border-bottom: 1px dashed #ddd;
		margin: auto;
		cursor: pointer;
		line-height: 40px;
//		text-indent: 1em;

		&.icon:before{
			margin: 0 5px 0 0;
			font-size: 1em;
			text-indent: 0;
		}
		.icon{
			float: right;

			height: 30px;
			width: 30px;

			margin: 5px;
			padding: 0;

			line-height: 30px;
			text-indent: 0;
			//text-align: center;
		}
	}
	dd{
		display: none;
//		overflow: hidden;

		width: 90%;

//		border: 1px solid #ddd;
		margin: 0 auto 1em;

//		margin: 0 10px;
//		margin-left: 3em;
		padding: 0 10px;

		font-size: 14px;
		text-indent: 2em;

		.btn{
			display: block;
			margin: 10px auto 0;
		}
	}

	ul,
	ol{
		margin-left: 2em;
		padding-left: 2em;
	}
	ul{
		list-style: disc;
	}
	li{
		text-indent: 0;
	}

	table{
		margin-bottom: 10px;
	}
	th,
	td{
		height: auto;
		min-width: 100px;
		border: 1px solid #c0c0c0;
		padding: 10px 5px;
		color: #000;
		line-height: 2;
		text-indent: 0;
	}

	/**
	 * @extend  ../component/code.less
	 */
	//.code{
	//	white-space: nowrap;
	//}

	// todo 抽出放入单独文件
	//.arrow{
	//	position: absolute;
	//	z-index: 10;
	//	bottom: 1px;
	//	right: 15px;
	//
	//	height: 0;
	//	width: 0;
	//
	//	border: 5px solid transparent;
	//	border-bottom-color: #fff;
	//
	//	&:before{
	//		position: absolute;
	//		top: -4px;
	//		left: -5px;
	//
	//		height: 0;
	//		width: 0;
	//
	//		border: 5px solid transparent;
	//		border-bottom-color: #888;
	//
	//		content: "";
	//	}
	//}
	.list{
		list-style: none;
		overflow: auto;
		position: absolute;
		top: 40px;
		right: 0;
		max-height: 16em;
		margin: 0;
		padding: 0;
		outline: 1px solid #fff;
		background: #888;
		margin-bottom: -1px;
		font-size: 14px;

		&::-webkit-scrollbar {
			width: 5px;
		}
		&::-webkit-scrollbar-thumb{
			height: 50px;
			border-radius: 20px;
			background: #c0c0c0;
		}
		&::-webkit-scrollbar-track-piece{
			background: #fff;
		}

		li{
			overflow: hidden;
			position: relative;
			height: 2em;
			//max-width: 10em;
			border-bottom: 1px solid #fff;
			padding: 0 1em;
			background: #888;

			color: #fff;

			line-height: 2em;
			text-align: left;
			white-space: nowrap;

			cursor: pointer;

			-ms-text-overflow: ellipsis;
			text-overflow: ellipsis;

			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;

			&:hover{
				background: #444;
			}
			&:last-child{
				border: 0;
			}
		}

		.on{
			background: #444;
		}
	}

	.CodeMirror{
		height: auto;
		border: 1px solid #ddd;
		font-family: inherit;
		font-size: 13px;
		line-height: 1em;
		text-indent: 0;

		.boxSizing( border-box );

		&-scroll{
			overflow: scroll !important;
			/*max-height: 200px;*/
		}
		pre{
			padding-left: 7px;
			line-height: 1.25;
		}
		&-gutter{
			margin-bottom: -30px;
			padding-bottom: 0;
		}
	}

	.edit_CodeMirror{
		height: 300px;
		margin-top: 10px;
	}
}

.document_section{
//    margin-bottom: @space;
//    padding: 0 0 0 @space;
//    background: @document_section-bg;

	border: 1px solid #ddd;
	//margin-bottom: 10px;
	//margin: 0 5px 10px;

//	.section_title{
//		padding-right: 70px;
//	}
}

/*----- document -----*/
.section_title{
	height: 2em;
	text-indent: 1em;
	line-height: 2em;

	cursor: pointer;

	.icon{
		float: right;
		height: 30px;
		text-indent: 0;

		&:before{
			margin: 5px;
		}
	}

	button.icon{
		width: 30px;
		margin: 9px 5px;
		padding: 0;
		text-indent: -1px;
	}
}