@charset "utf-8";

@import "../lib/color.less";
@import "../lib/function.less";
@import "../lib/grid.less";

//---------- Editor 前端编辑器 ----------
.module-editor{

	//.module_content{
	//	margin-left: -5px;
	//	margin-right: -5px;
	//	padding-left: 5px;
	//	padding-right: 5px;
	//	background: transparent;
	//}
	.article{
//		display: inline-block;
		float: left;
		//height: 300px;
		//width: 310px;
		width: 150px;

		//margin: 0 5px 10px;
		//background: transparent;

		.boxSizing(border-box);

		&_title{
			font-size: 18px;
			line-height: 1.2;
			text-align: center;
		}
		&_preview{
			display: block;
			//height: auto;
			max-width: 100%;
			margin: 10px auto 0;
		}
		&-block{
			position: absolute;
			bottom: 0;

			left: 0;
			right: 5px;

			height: auto;
			width: auto;
			margin-right: 0;
			text-align: center;

			&-noMore{
				height: 54px;
			}
		}
	}

	.CodeMirror{
		height: 100%;
		border: 1px solid #ddd;
		//outline: 1px solid #ddd;
		font-family: inherit;
		font-size: 13px;
		line-height: 1em;
		text-indent: 0;

		.boxSizing( border-box );

		&-scroll{
			overflow: scroll !important;
			/*max-height: 200px;*/
		}
		pre{
			padding-left: 7px;
			line-height: 1.25;

			&.CodeMirror-placeholder{
				color: #999;
			}
		}
		&-gutters{
			padding-bottom: 0;
		}
		&-gutter{
			margin-bottom: -30px;
			padding-bottom: 0;
		}
		&-focused{
			border: 1px solid #888;
			//outline: 1px solid #888;
		}
		&-focused + label{
			//display: none;
			top: -25px;
			border-bottom-color: #888;
		}
	}
	//.CodeMirror-scroll{
	//	overflow: scroll !important;
	//	/*max-height: 200px;*/
	//}
	//.CodeMirror pre{
	//	padding-left: 7px;
	//	line-height: 1.25;
	//}
	//.CodeMirror-gutters{
	//	padding-bottom: 0;
	//}
	//.CodeMirror-gutter{
	//	margin-bottom: -30px;
	//	padding-bottom: 0;
	//}
	//.CodeMirror-focused{
	//	border: 1px solid #888;
	//	//outline: 1px solid #888;
	//}
	//.CodeMirror pre.CodeMirror-placeholder{
	//	color: #999;
	//}
	//
	//.CodeMirror-focused + label{
	//	display: none;
	//}

	/* toolbar 子菜单 */
	.arrow{
		position: absolute;
		z-index: 10;
		bottom: 1px;
		right: 15px;

		height: 0;
		width: 0;

		border: 5px solid transparent;
		border-bottom-color: #fff;

		&:before{
			position: absolute;
			top: -4px;
			left: -5px;

			height: 0;
			width: 0;

			border: 5px solid transparent;
			border-bottom-color: #888;

			content: "";
		}
	}
	.list{
		overflow: auto;
		position: absolute;
		top: 40px;
		right: 0;
		max-height: 16em;
		outline: 1px solid #fff;
		background: #888;
		margin-bottom: -1px;
		font-size: 14px;

		//&::-webkit-scrollbar {
		//	width: 5px;
		//}
		//&::-webkit-scrollbar-thumb{
		//	height: 50px;
		//	border-radius: 20px;
		//	background: #c0c0c0;
		//}
		//&::-webkit-scrollbar-track-piece{
		//	background: #fff;
		//}

		li{
			overflow: hidden;
			position: relative;
			height: 2em;
			max-width: 10em;
			border-bottom: 1px solid #fff;
			padding: 0 1em;
			background: #888;

			color: #fff;

			line-height: 2em;
			white-space: nowrap;

			cursor: pointer;

			-ms-text-overflow: ellipsis;
			text-overflow: ellipsis;

			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;

			&:hover{
				background: #444;
			}
			&:last-child{
				border: 0;
			}
		}

		.on{
			background: #444;
		}
	}
	.showSp{
		display: none;
	}
}

/*----- editor -----*/
.editor_form{
	margin: 10px;
}
.editor_op{
	float: right;
	height: 40px;
	width: 40px;
	margin: 0 0 10px 10px;
}
.editor_title{
	height: 40px;

	margin-bottom: 10px;
	margin-right: 100px;

	line-height: 40px;

	.input{
		width: 100%;
		border: 1px solid transparent;
		font-size: 24px;
		line-height: 1.5;
		text-indent: 0.5em;

		&:hover{
			border-color: #ddd;
		}
		&:focus{
			border-color: #888;
		}
	}
}
.editor_area{
	overflow: hidden;
	display: inline-block;
	position: relative;
	height: 200px;
	margin: 0 0 10px;

	.boxSizing( border-box );


	label{
		position: absolute;
		z-index: 120;
		top: 0;
		right: 25px;
		min-width: 100px;
		border: solid #ddd;
		border-width: 1px;
		border-top-color: #fff;
		border-radius: 0 0 10px 10px;
		//		background: #efefef;
		background: #fff;
		//		background: rgba(255, 255, 255, .5);

		color: #333;
		font-size: 12px;
		line-height: 2em;
		text-align: center;
		//		opacity: .6;

		.transition(top .5s ease-in-out);

		&:before{
			position: absolute;
			top: -2px;
			left: -11px;
			height: 12px;
			width: 12px;
			background-image: -webkit-radial-gradient(bottom left, transparent 9px, #ddd 10px, #fff 11px);
			background-image: -moz-radial-gradient(bottom left, transparent 9px, #ddd 10px, #fff 11px);
			background-image: -ms-radial-gradient(bottom left, transparent 9px, #ddd 10px, #fff 11px);
			background-image: radial-gradient(bottom left, transparent 9px, #ddd 10px, #fff 11px);
			content: "";
		}
		&:after{
			position: absolute;
			top: -2px;
			right: -11px;
			height: 12px;
			width: 12px;
			background-image: -webkit-radial-gradient(bottom right, transparent 9px, #ddd 10px, #fff 11px);
			background-image: -moz-radial-gradient(bottom right, transparent 9px, #ddd 10px, #fff 11px);
			background-image: -ms-radial-gradient(bottom right, transparent 9px, #ddd 10px, #fff 11px);
			background-image: radial-gradient(bottom right, transparent 9px, #ddd 10px, #fff 11px);
			content: "";
		}
	}

	&:hover label{
		//display: none;
		top: -25px;
	}

	&-html{
		float: left;
		width: 30%;
		padding-right: 5px;
	}
	&-css{
		display: block;
		width: 30%;
		margin: 0 40% 0 30%;
		padding: 0 5px;
	}
	&-js{
		float: right;
		width: 40%;
		//width: 33%;
		padding-left: 5px;
	}
	&-rs{
		display: block;
		min-height: 500px;
		width: 100%;
		margin-top: 10px;

		.boxSizing( content-box );

		label{
			border-color: #fff #888 #888;
			&:before{
				background-image: -webkit-radial-gradient(bottom left, transparent 9px, #888 10px, #ffffff 11px);
				background-image: -moz-radial-gradient(bottom left, transparent 9px, #888 10px, #ffffff 11px);
				background-image: -ms-radial-gradient(bottom left, transparent 9px, #888 10px, #ffffff 11px);
				background-image: radial-gradient(bottom left, transparent 9px, #888 10px, #ffffff 11px);
			}
			&:after{
				background-image: -webkit-radial-gradient(bottom right, transparent 9px, #888 10px, #ffffff 11px);
				background-image: -moz-radial-gradient(bottom right, transparent 9px, #888 10px, #ffffff 11px);
				background-image: -ms-radial-gradient(bottom right, transparent 9px, #888 10px, #ffffff 11px);
				background-image: radial-gradient(bottom right, transparent 9px, #888 10px, #ffffff 11px);
			}
		}
	}
}
.editor_rs{
//	display: block;
	height: 100%;
	width: 100%;
	//border: 0;
	border: 1px solid #888;
	//outline: 1px solid #ddd;

	background: #fff;

	.boxSizing( border-box );
}

.editor-4row{
	.editor_area-html{
		top: 0;
		bottom: 75%;
		left: 0;
		right: 40px;
	}
	.editor_area-css{
        top: 25%;
        bottom: 50%;
        left: 0;
        right: 40px;
    }
	.editor_area-js{
		top: 50%;
		bottom: 25%;
		left: 0;
		right: 40px;
	}
	.editor_area-rs{
		top: 75%;
		bottom: 0;
		left: 0;
		right: 40px;
	}
}
.editor-4col{
	.editor_area-html{
		top: 0;
		bottom: 0;
		left: 0;
		width: calc(25% - 10px);
		//right: calc(75% + 10px);
		.boxSizing(border-box);
	}
	.editor_area-css{
		top: 0;
		bottom: 0;
		left: 25%;
		width: calc(25% - 10px);
		margin-left: -10px;
		//left: calc(25% - 10px);
		//right: calc(50% + 10px);
		.boxSizing(border-box);
	}
	.editor_area-js{
		top: 0;
		bottom: 0;
		left: 50%;
		width: calc(25% - 10px);
		margin-left: -20px;
		//left: calc(50% - 10px);
		//right: calc(25% + 10px);
		.boxSizing(border-box);
	}
	.editor_area-rs{
		top: 0;
		bottom: 0;
		left: 75%;
		width: calc(25% - 20px);
		margin-left: -30px;
		//left: calc(75% - 10px);
		//right: 40px;
	}
}
.editor-4cor{
	.editor_area-html{
		top: 0;
		bottom: 60%;
		left: 0;
		right: 50%;
	}
	.editor_area-css{
		top: 0;
		bottom: 60%;
		left: 50%;
		right: 40px;
	}
	.editor_area-js{
		top: 40%;
		bottom: 0;
		left: 0;
		right: 50%;
	}
	.editor_area-rs{
		top: 40%;
		bottom: 0;
		left: 50%;
		right: 40px;
	}
}
.editor-htmlFS .editor_area,
.editor-cssFS .editor_area,
.editor-jsFS .editor_area,
.editor-rsFS .editor_area{
	top: 0;
	bottom: 0;
	left: 0;
	right: 40px;
}
.editor-htmlFS .editor_area-html,
.editor-cssFS .editor_area-css,
.editor-jsFS .editor_area-js,
.editor-rsFS .editor_area-rs{
	z-index: 120;
}

.Container-eFS{
	position: fixed;
	z-index: 10;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: auto;
	width: auto;
	margin: 0;

	.module-editor{
		position: fixed;
		z-index: 10;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: auto;
		width: auto;
		border-radius: 0;
		margin: 0;

		.module_content{
			background: transparent;
		}

		.toolbar{
			top: 85px;
			right: 1px;
			width: 40px !important;
		}
		.list{
			right: 40px;
			top: 5px;
		}
		.arrow{
			top: 15px;
			right: 30px;
			border-color: transparent transparent transparent #fff;

			&:before{
				top: -5px;
				left: -6px;
				border-color: transparent transparent transparent #888;
			}
		}

		label{
			display: none;
		}
	}
	.editor_op{
		//position: absolute;
		position: fixed;
		z-index: 130;
		//top: 10px;
		//right: 10px;
		right: 1px;

		&.icon-play{
			//right: 60px;
			top: 0;
		}
		&.icon-save{
			top: 45px;
		}
	}
	.editor_area{
		position: fixed;
		height: auto;
		width: auto;
		margin: 0;
		padding: 5px;
		background: #888;
	}
	.editor_area-rs{
		min-height: 0;
	}

	.sp{
		display: none;
	}
	.showSp{
		display: inline-block;
		white-space: nowrap;
		&.on{
			border-color: #d35400;
			background: #d35400 -webkit-linear-gradient(top, #ff8888, #d35400);
		}
	}
}