@charset "utf-8";

@import "../lib/color.less";
@import "../lib/function.less";
@import "../lib/grid.less";

//---------- Editor 前端编辑器 ----------
.module-editor{

	.article{
//		display: inline-block;
		float: left;
		height: 300px;
		margin-right: 10px;
	}
	.article-block{
		clear: both;
		float: none;
		display: block;
		height: auto;
		margin-right: 0;
		text-align: center;
	}


	.CodeMirror{
		height: 100%;
		border: 1px solid #ddd;
		//outline: 1px solid #ddd;
		font-family: inherit;
		font-size: 13px;
		line-height: 1em;
		text-indent: 0;

		.boxSizing( border-box );
	}
	.CodeMirror-scroll{
		overflow: scroll !important;
		/*max-height: 200px;*/
	}
	.CodeMirror pre{
		padding-left: 7px;
		line-height: 1.25;
	}
	.CodeMirror-gutters{
		padding-bottom: 0;
	}
	.CodeMirror-gutter{
		margin-bottom: -30px;
		padding-bottom: 0;
	}

//	.CodeMirror-empty{
////		outline: 1px solid #c22;
//	}
//	.CodeMirror-empty
	.CodeMirror-focused{
		border: 1px solid #888;
		//outline: 1px solid #888;
	}
	.CodeMirror pre.CodeMirror-placeholder{
		color: #999;
	}

	.CodeMirror-focused + label{
		display: none;
	}

	.list{
		overflow: auto;
		position: absolute;
		top: 35px;
		right: 0;
		max-height: 16em;
		outline: 1px solid #fff;
		background: #888;
		margin-bottom: -1px;
		font-size: 14px;
	}
	.list li{
		overflow: hidden;
		position: relative;
		height: 2em;
		max-width: 10em;
		border-bottom: 1px solid #fff;
		padding: 0 1em;
		background: #888;

		color: #fff;

		line-height: 2em;
		white-space: nowrap;

		cursor: pointer;

		-ms-text-overflow: ellipsis;
		text-overflow: ellipsis;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.list .on{
		border: 1px solid #fff;
	}
	.list li:hover{
		background: #444;
	}
}

/*----- editor -----*/
.editor_op{
	float: right;
	height: 40px;
	width: 40px;
	margin: 0 0 10px 10px;
}
.editor_title{
	height: 40px;

	margin-bottom: 10px;
	margin-right: 100px;

	line-height: 40px;

	.input{
		width: 100%;
		border: 1px solid transparent;
		font-size: 24px;
		line-height: 1.5;
		text-indent: 0.5em;

		&:hover{
			border-color: #ddd;
		}
		&:focus{
			border-color: #888;
		}
	}
}
.editor_area{
	display: inline-block;
	position: relative;
	height: 200px;
	margin: 0 0 10px;

	.boxSizing( border-box );

	label{
		position: absolute;
		z-index: 120;
		top: 0;
		right: 25px;
		min-width: 100px;
		border: solid #ddd;
		border-width: 0 1px 1px;
		border-radius: 0 0 10px 10px;
//		background: #efefef;
//		background: #fff;
		background: rgba(255, 255, 255, .5);

		color: #333;
		font-size: 12px;
		line-height: 2em;
		text-align: center;
//		opacity: .6;
	}

	&:hover label{
		display: none;
	}
}
.editor_area-html{
	float: left;
	width: 30%;
	padding-right: 5px;
}
.editor_area-css{
	display: block;
	width: 30%;
	margin: 0 40% 0 30%;
	padding: 0 5px;
}
.editor_area-js{
	float: right;
	width: 40%;
	//width: 33%;
	padding-left: 5px;
}
.editor_area-rs{
	display: block;
	min-height: 500px;
	width: 100%;
	margin-top: 10px;

	.boxSizing( content-box );
}
.editor_rs{
//	display: block;
	height: 100%;
	width: 100%;
	//border: 0;
	border: 1px solid #888;
	//outline: 1px solid #ddd;

	background: #fff;

	.boxSizing( border-box );
}

.editor-4row{
	.editor_area-html{
		top: 0;
		bottom: 75%;
		left: 0;
		right: 0;
	}
	.editor_area-css{
        top: 25%;
        bottom: 50%;
        left: 0;
        right: 0;
    }
	.editor_area-js{
		top: 50%;
		bottom: 25%;
		left: 0;
		right: 0;
	}
	.editor_area-rs{
		top: 75%;
		bottom: 0;
		left: 0;
		right: 0;
	}
}
.editor-4col{
	.editor_area-html{
		top: 0;
		bottom: 0;
		left: 0;
		right: 75%;
	}
	.editor_area-css{
		top: 0;
		bottom: 0;
		left: 25%;
		right: 50%;
	}
	.editor_area-js{
		top: 0;
		bottom: 0;
		left: 50%;
		right: 25%;
	}
	.editor_area-rs{
		top: 0;
		bottom: 0;
		left: 75%;
		right: 0;
	}
}
.editor-4cor{
	.editor_area-html{
		top: 0;
		bottom: 60%;
		left: 0;
		right: 50%;
	}
	.editor_area-css{
		top: 0;
		bottom: 60%;
		left: 50%;
		right: 0;
	}
	.editor_area-js{
		top: 40%;
		bottom: 0;
		left: 0;
		right: 50%;
	}
	.editor_area-rs{
		top: 40%;
		bottom: 0;
		left: 50%;
		right: 0;
	}
}
.editor-rsFS{
	.editor_area-rs{
		z-index: 120;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

.Container-eFS{
	position: fixed;
	z-index: 10;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: auto;
	width: auto;
	margin: 0;

	.module-editor{
		position: fixed;
		z-index: 10;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: auto;
		width: auto;
		margin: 0;
	}
	.editor_area{
		position: fixed;
		height: auto;
		width: auto;
		margin: 0;
		padding: 5px;
		background: #888;
	}
	.editor_area-rs{
		min-height: 0;
	}
	label{
		display: none;
	}
}