@import "../config/color.config.less";

//----- Main 主内容模块 ------
/**
 * main 模块

 main.module.module-main
    h2.module_title.icon
    ul.toolbar
    div.module_content
 */
/*main*/.module-main{
	overflow: hidden;
	float: none;

	margin: 0 auto;
	background: @module-main_bg_c;

	> .module_title,
	> .module_info{
		display: none;
	}

	> .module_content{

		//border-radius: 10px;

		//margin: 40px 0 10px;
		margin-bottom: 10px;
		margin-top: 40px;

		background-color: #fff;
	}

	.icon:before{
		font-size: 20px;
	}

	> .toolbar{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 40px;
		border-radius: 10px 10px 0 0;
		margin: 0 auto;
		background: @module-main_toolbar_bg_c;
		text-align: right;
		
		&-fixed{
			position: fixed;
			background: @module-main_toolbar-fixed_bg_c;

			&:before{
				background-image: -webkit-radial-gradient(bottom right, transparent 9px, @module-main_toolbar-fixed_bg_c 10px, @module-main_toolbar-fixed_bg_c 11px);
			}
			&:after{
				background-image: -webkit-radial-gradient(bottom left, transparent 9px, @module-main_toolbar-fixed_bg_c 10px, @module-main_toolbar-fixed_bg_c 11px);
			}
		}

		&:before,
		&:after{
			position: absolute;
			bottom: -10px;
			height: 10px;
			width: 10px;

			content: "";
		}
		&:before{
			left: 0;
			background-image: -webkit-radial-gradient(bottom right, transparent 9px, #888 10px, #888 11px);
		}
		&:after{
			right: 0;
			background-image: -webkit-radial-gradient(bottom left, transparent 9px, #888 10px, #888 11px);
		}

		> li{
			display: inline-block;
			position: relative;
		}

		.icon{
			width: 30px;
			height: 30px;
			background: #888;

			//
			//&:before{
			//	margin: 0;
			//}
			&:hover{
				color: #d35400;
				background-color: #fff;
			}

		}
		.btn{
			outline: 0;

			&:active{
				background: #999;
			}
		}
	}
}