@import "../config/color.config.less";
@import "../lib/function.less";

@module-main_min-height: 500px;
@module-main_content_margin_top: 40px;
@module-main_content_margin_bottom: 10px;

//----- Main 主内容模块 ------
/**
 * main 模块

 main.module.module-main
    h2.module_title.icon
    ul.toolbar
    div.module_content
 */
/*main*/.module-main{
	float: none;

	min-height: @module-main_min-height;

	border-bottom: 10px solid #888;
	border-radius: 0 0 10px 10px;
	margin: 40px auto 0;

	background: @module-main_bg_c;

	//> .module_title,
	> .module_info
	{
		display: none;
	}

	> .module_title{
		line-height: 40px;
		text-indent: 100px;
		color: #fff;

		&.icon:before{
			position: absolute;
			top: -40px;
			left: 0;
			height: 80px;
			width: 80px;
			border: 5px solid #888;

			.boxSizing(border-box);

			background-color: #fff;
			border-radius: 50%;
			color: #888;
			font-size: 50px;
			line-height: 70px;
			text-indent: 0;
		}
	}

	> .module_content{

		min-height: @module-main_min-height - @module-main_content_margin_top - @module-main_content_margin_bottom;
		background-color: #fff;
	}

	.icon:before{
		font-size: 20px;
	}

	> .toolbar{
		position: absolute;
		top: -20px;
		left: 0;
		right: 0;
		height: 40px;
		margin: 0 auto;
		text-align: right;

		&:before,
		&:after{
			position: absolute;
			top: 60px;
			height: 10px;
			width: 10px;

			content: "";
		}
		&:before{
			left: 0;
			background-image: -webkit-radial-gradient(bottom right, transparent 9px, @module-main_toolbar_bg_c 10px, @module-main_toolbar_bg_c 11px);
		}
		&:after{
			right: 0;
			background-image: -webkit-radial-gradient(bottom left, transparent 9px, @module-main_toolbar_bg_c 10px, @module-main_toolbar_bg_c 11px);
		}
		> li{
			display: inline-block;
			position: relative;
			background-color: #888;
			padding-top: 5px;

			&:first-child{
				border-top-left-radius: 10px;
				padding-left: 5px;
			}

			&:last-child{
				border-top-right-radius: 10px;
				padding-right: 5px;
			}
		}

		.icon{
			width: 30px;
			height: 30px;
			background: #888;

			&:hover{
				color: #d35400;
				background-color: #fff;
			}

		}
		.btn{
			outline: 0;

			&:active{
				background: #999;
			}
		}
		.list{
			top: 46px;
		}

		&-fixed{
			position: fixed;
			top: 0;
			background: @module-main_toolbar-fixed_bg_c;

			&:before{
				top: 40px;
				background-image: -webkit-radial-gradient(bottom right, transparent 9px, @module-main_toolbar-fixed_bg_c 10px, @module-main_toolbar-fixed_bg_c 11px);
			}
			&:after{
				top: 40px;
				background-image: -webkit-radial-gradient(bottom left, transparent 9px, @module-main_toolbar-fixed_bg_c 10px, @module-main_toolbar-fixed_bg_c 11px);
			}

			> li{
				padding-top: 0;
				background: none;
			}

			.list{
				top: 41px;
			}
		}
	}
}