@charset "utf-8";

@import "../lib/color.less";
@import "../lib/function.less";
@import "../lib/grid.less";

//---------- Reader 订阅 ---------
.module-reader{

}
.reader_section{
	border: 1px solid #ddd;
	margin-bottom: 10px;

	.section_title{
		overflow: hidden;
		width: 90%;
		margin: 0;
		-ms-text-overflow: ellipsis;
		text-overflow: ellipsis;
		white-space: nowrap;

		.icon{
			position: absolute;
			right: 1em;
			text-indent: 0;
		}
	}
}
.reader_title{
	height: 2em;
	text-indent: 1em;
	line-height: 2em;

	.icon{
		float: right;
		height: 30px;
		text-indent: 0;
	}
	.icon:before{
		margin: 5px;
	}
}
.reader_articleList{
	margin: 0 10px;

	.article{
		overflow: hidden;
	}
	a{
		@extend: .link;
	}
	.article_content{
		text-indent: 2em;
	}
	img{
		float: left;
		max-width: 300px !important;
		height: auto !important;
	}
}
.chasing{
	margin: 55px auto;
	width: 40px;
	height: 40px;
	position: relative;
	text-align: center;

	-webkit-animation: rotate 2.0s infinite linear;
	animation: rotate 2.0s infinite linear;
}
.dot1, .dot2{
	width: 60%;
	height: 60%;
	display: inline-block;
	position: absolute;
	top: 0;
	background-color: #888;
	border-radius: 100%;

	-webkit-animation: bounce 2.0s infinite ease-in-out;
	animation: bounce 2.0s infinite ease-in-out;
}
.dot2{
	top: auto;
	bottom: 0;
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}
@-webkit-keyframes rotate{
	100%{
		-webkit-transform: rotate(360deg)
	}
}
@-moz-keyframes rotate{
	100%{
		-webkit-transform: rotate(360deg)
	}
}
@-ms-keyframes rotate{
	100%{
		-webkit-transform: rotate(360deg)
	}
}
@keyframes rotate{
	100%{
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
	}
}
@-webkit-keyframes bounce{
	0%, 100%{
		-webkit-transform: scale(0.0)
	}
	50%{
		-webkit-transform: scale(1.0)
	}
}
@-moz-keyframes bounce{
	0%, 100%{
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	}
	50%{
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}
@-ms-keyframes bounce{
	0%, 100%{
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	}
	50%{
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}
@keyframes bounce{
	0%, 100%{
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	}
	50%{
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}