@charset "utf-8";

@import "../lib/color.less";
@import "../lib/function.less";
@import "../lib/grid.less";

//---------- Reader 订阅 ---------
.module-reader{
}
.module-bookmark{
}
.icon-reader:before{
	&:extend(.icon-rss:before);
}

.reader_section{
	border: 1px solid #ddd;
	margin-bottom: 10px;
	padding-bottom: 10px;

	hr{
		border: 0;
		border-bottom: 1px dashed #ddd;
		margin: 0 10px;
	}

	.section_title{
		overflow: hidden;
		width: 90%;
		margin: 0 0 10px;
		-ms-text-overflow: ellipsis;
		text-overflow: ellipsis;
		white-space: nowrap;

		.icon{
			position: absolute;
			right: 1em;
			text-indent: 0;
		}
	}

	.tagsArea{
		margin: 5px 5px -5px;
	}
}
.reader_title{
	height: 2em;
	text-indent: 1em;
	line-height: 2em;

	.icon{
		float: right;
		height: 30px;
		text-indent: 0;

		&:before{
			margin: 5px;
		}
	}
}

.reader_articleList{}
.reader_article{
	overflow: hidden;
	position: relative;

	margin: 10px;

	.icon{
		position: absolute;
		//top: 45px;
		right: 0;
		min-width: 5em;

		text-align: center;

		&:before{
			margin-right: 3px;
			font-size: 16px;
		}

		&-bookmark,
		&-bookmark-full{
			right: 5em;
			width: 6em;
		}
	}

	.article_title:extend(.link){
		//margin-right: 60px;
	}
	.article_content{
		overflow: hidden;
		margin: 0 30px;
		text-indent: 2em;

		/**     .reader_article .article_content
		 * 第三方内容 样式控制
		 */
		img{
			float: left;
			height: auto !important;
			max-width: 300px !important;
			margin-right: 10px;
		}
		p{
			margin: 0;
			line-height: 1.5;
		}
		//br{
		//	display: none;
		//}
	}
	.tag{
		position: static;
	}
}