@charset "utf-8";

@import "../config/color.config.less";

@import "../lib/function.less";
@import "../lib/grid.less";

//---------- Profile 个人简历 ----------
.module-resume{

	.module_content{

	}
}

.resume_section{
	position: relative;
	margin: 58px 10px 10px;
	border: 1px solid #c0c0c0;

	&:before,
	&:after{
		content: "";
		display: table;
	}
	&:after{
		clear: both;
	}

	h3{
		position: absolute;
		top: -48px;
		left: 48px;
		min-width: 200px;
		border: solid #c0c0c0;
		border-width: 1px;
		border-bottom-color: #fff;
		border-radius: 12px 12px 0 0;
		background: #fff;
		text-align: center;

		&:before{
			position: absolute;
			top: 36px;
			left: -11px;
			height: 12px;
			width: 12px;
			background-image: -webkit-radial-gradient(top left, transparent 9px, #c0c0c0 10px, #ffffff 11px);
			background-image: -moz-radial-gradient(top left, transparent 9px, #c0c0c0 10px, #ffffff 11px);
			background-image: -ms-radial-gradient(top left, transparent 9px, #c0c0c0 10px, #ffffff 11px);
			background-image: radial-gradient(top left, transparent 9px, #c0c0c0 10px, #ffffff 11px);
			content: "";
		}
		&:after{
			position: absolute;
			top: 36px;
			right: -11px;
			height: 12px;
			width: 12px;
			background-image: -webkit-radial-gradient(top right, transparent 9px, #c0c0c0 10px, #ffffff 11px);
			background-image: -moz-radial-gradient(top right, transparent 9px, #c0c0c0 10px, #ffffff 11px);
			background-image: -ms-radial-gradient(top right, transparent 9px, #c0c0c0 10px, #ffffff 11px);
			background-image: radial-gradient(top right, transparent 9px, #c0c0c0 10px, #ffffff 11px);
			content: "";
		}
	}
}
.radar{
	float: left;
	width: 50%;
	min-width: 278px;
	text-align: center;
}
.timeline{
	position: relative;
	//margin-top: -10px;

	&_line{
		position: absolute;
		bottom: 0;
		//top: 10px;
		top: 0;
		left: 0;
		right: 0;
		width: 2px;
		margin: auto;
		background: #c0c0c0;
	}

	&_start,
	&_end{
		position: absolute;
		left: 0;
		right: 0;
		width: 10em;
		border: 1px solid #c0c0c0;
		border-radius: 10px;
		margin: auto;
		background: #fff;
		font-size: 16px;
		line-height: 1.5;
		text-align: center;
	}
	&_start{
		bottom: 0;
	}
	&_end{
		top: -1.5em;
	}

	@node_margin: 20px;

	&_node{
		position: absolute;

		@diff: 15px + @node_margin;
		width: calc(~"50% - @{diff}");

		border: 1px solid #c0c0c0;
		padding: 10px;

		.boxSizing(border-box);

		&:before,
		&:after{
			position: absolute;
			height: 10px;
			width: 10px;
			border: 1px solid #c0c0c0;
			border-radius: 50%;
			background: #fff;
			content: "";

			.boxSizing(border-box);
		}
		&:before{
			top: 5px;
		}
		&:after{
			bottom: 5px;
		}


		&:nth-child(even){
			left: @node_margin;
			border-radius: 10px 0 0 10px;

			&:before,
			&:after{
				right: -21px;
			}

			.datetime{
				right: 0;

				&:before{
					right: -21px;
					border-left-color: #c0c0c0;
				}
				&:after{
					right: -20px;
					border-left-color: #fff;
				}
			}
		}
		&:nth-child(odd){
			right: @node_margin;
			border-radius: 0 10px 10px 0;

			&:before,
			&:after{
				left: -21px;
			}

			.datetime{
				left: 0;

				&:before{
					left: -21px;
					border-right-color: #c0c0c0;
				}
				&:after{
					left: -20px;
					border-right-color: #fff;
				}
			}
		}
	}

	h4{
		border-bottom: 1px dashed #c0c0c0;
	}
	h5{
		text-align: right;
	}

	.datetime{
		position: absolute;
		z-index: 10;
		height: 20px;
		width: 60px;
		background: #fff;
		font-size: 12px;
		line-height: 20px;
		text-align: center;

		&-start{
			bottom: 0;
		}
		&-end{
			top: 0;
		}

		&:hover{

		}

		&:before,
		&:after{
			position: absolute;
			top: 0;
			height: 0;
			width: 0;
			border: 10px solid transparent;
			content: "";
		}
	}

	&_now{
		&:nth-child(even){
			border-top-right-radius: 10px;
		}
		&:nth-child(odd){
			border-top-left-radius: 10px;
		}

		&:before{
			content: none;
		}
	}
}