@charset "utf-8";

@import "../config/color.config.less";

@import "../lib/function.less";
@import "../lib/grid.less";

//---------- Profile 个人简历 ----------
.module-resume{

	.module_content{

	}
}

.resume_section{
	position: relative;
	margin: 58px 10px 10px;
	border: 1px solid #c0c0c0;

	&:before,
	&:after{
		content: "";
		display: table;
	}
	&:after{
		clear: both;
	}

	h3{
		position: absolute;
		top: -48px;
		left: 48px;
		min-width: 200px;
		border: 1px solid #c0c0c0;
		border-bottom-color: #fff;
		border-radius: 12px 12px 0 0;
		background: #fff;
		text-align: center;

		&:before{
			position: absolute;
			top: 36px;
			left: -11px;
			height: 12px;
			width: 12px;
			background-image: -webkit-radial-gradient(top left, transparent 9px, #c0c0c0 10px, #ffffff 11px);
			background-image: -moz-radial-gradient(top left, transparent 9px, #c0c0c0 10px, #ffffff 11px);
			background-image: -ms-radial-gradient(top left, transparent 9px, #c0c0c0 10px, #ffffff 11px);
			background-image: radial-gradient(top left, transparent 9px, #c0c0c0 10px, #ffffff 11px);
			content: "";
		}
		&:after{
			position: absolute;
			top: 36px;
			right: -11px;
			height: 12px;
			width: 12px;
			background-image: -webkit-radial-gradient(top right, transparent 9px, #c0c0c0 10px, #ffffff 11px);
			background-image: -moz-radial-gradient(top right, transparent 9px, #c0c0c0 10px, #ffffff 11px);
			background-image: -ms-radial-gradient(top right, transparent 9px, #c0c0c0 10px, #ffffff 11px);
			background-image: radial-gradient(top right, transparent 9px, #c0c0c0 10px, #ffffff 11px);
			content: "";
		}
	}
}
.radar{
	float: left;
	width: 50%;
	min-width: 278px;
	text-align: center;
}
.timeline{

	&_content{
		position: relative;
		margin: 44px 0 24px;
	}

	&_line{
		position: absolute;
		bottom: 0;
		//top: 10px;
		top: -18px;
		left: 0;
		right: 0;
		width: 2px;
		margin: auto;
		background: #c0c0c0;
	}
	&_point{
		position: absolute;
		left: -4px;
		height: 10px;
		width: 10px;
		border: 1px solid #c0c0c0;
		border-radius: 50%;

		.boxSizing(border-box);

		background: #fff;
	}

	&_start,
	&_end{
		position: absolute;
		left: 0;
		right: 0;
		width: 10em;
		border: 1px solid #c0c0c0;
		border-radius: 10px;
		margin: auto;
		background: #fff;
		font-size: 16px;
		line-height: 1.5;
		text-align: center;
	}
	&_start{
		bottom: -24px;
	}
	&_end{
		top: -44px;
	}

	@node_margin: 65px;
	&_node{
		position: absolute;

		//min-height: 3em;
		min-height: 100px;

		@diff: 15px + @node_margin;
		width: calc(~"50% - @{diff}");

		border: 1px solid #c0c0c0;
		border-radius: 10px;
		padding: 10px;

		.boxSizing(border-box);

		//&:before,
		//&:after{
		//	position: absolute;
		//	z-index: 11;
		//	height: 10px;
		//	width: 10px;
		//	border: 1px solid #c0c0c0;
		//	border-radius: 50%;
		//	background: #fff;
		//	content: "";
		//
		//	.boxSizing(border-box);
		//}
		//&:before{
		//	top: 5px;
		//}
		//&:after{
		//	bottom: 5px;
		//}
		
		&:hover{
			border-color: #d35400;

			&:before,
			&:after{
				border-color: #d35400;
			}

			.datetime{
				color: #d35400;
				&-start{
					border-bottom-color: #d35400;
				}
				&-end{
					border-top-color: #d35400;
				}
			}
		}

		&:nth-child(even){
			left: 20px;
			//border-radius: 10px 0 0 10px;

			&:before,
			&:after{
				right: -66px;
				line-height: 32px;
			}

			.datetime{
				right: -60px;

				&-start{
					&:before{
						bottom: 0;
						right: 0;
						border-bottom-color: #c0c0c0;
						border-right-color: #c0c0c0;
					}
					&:after{
						bottom: -1px;
						right: 0;
						border-bottom-color: #fff;
						border-right-color: #fff;
					}
				}
				&-end{
					&:before{
						top: 0;
						right: 0;
						left: auto;
						border-width: 5px;
						border-top-color: #c0c0c0;
						border-right-color: #c0c0c0;
					}
					&:after{
						top: -1px;
						right: 0;
						left: auto;
						border-width: 5px;
						border-top-color: #fff;
						border-right-color: #fff;
					}
				}
			}

			&:hover{
				.datetime{
					&-start:before{
						border-bottom-color: #d35400;
						border-right-color: #d35400;
					}
					&-end:before{
						border-top-color: #d35400;
						border-right-color: #d35400;
					}
				}
			}
		}

		&:nth-child(odd){
			right: 20px;
			//border-radius: 0 10px 10px 0;

			&:before,
			&:after{
				left: -66px;
			}

			h4{
				text-align: right;
			}

			.datetime{
				left: -60px;

				&-start{
					&:before{
						bottom: 0;
						left: 0;
						border-bottom-color: #c0c0c0;
						border-left-color: #c0c0c0;
					}
					&:after{
						bottom: -1px;
						left: 0;
						border-bottom-color: #fff;
						border-left-color: #fff;
					}
				}
				&-end{
					&:before{
						top: 0;
						left: 0;
						border-top-color: #c0c0c0;
						border-left-color: #c0c0c0;
					}
					&:after{
						top: -1px;
						left: 0;
						border-top-color: #fff;
						border-left-color: #fff;
					}
				}
			}

			&:hover{
				.datetime{
					&-start:before{
						border-bottom-color: #d35400;
						border-left-color: #d35400;
					}
					&-end:before{
						border-top-color: #d35400;
						border-left-color: #d35400;
					}
				}
			}
		}
	}

	h4{
		width: 100%;
		line-height: 32px;
		.ellipsis();
	}
	.subTitle{
		color: #888;
		font-size: 12px;
		&:before{
			content: "[";
		}
		&:after{
			content: "]";
		}
	}

	.datetime{
		position: absolute;
		z-index: 10;
		height: 20px;
		width: 60px;

		color: transparent;
		font-size: 12px;
		line-height: 20px;
		text-align: center;

		&-start{
			//bottom: 10px;
			//margin-bottom: -10px;
			border-bottom: 1px solid #c0c0c0;
		}
		&-end{
			top: 0;
			//top: -11px;
			//margin-top: 10px;
			border-top: 1px solid #c0c0c0;
		}

		&:before,
		&:after{
			position: absolute;
			height: 0;
			width: 0;
			border: 5px solid transparent;
			content: "";
		}
	}

	&_now{
		&:nth-child(even){
			border-top-right-radius: 10px;
		}
		&:nth-child(odd){
			border-top-left-radius: 10px;
		}

		&:before{
			content: none;
		}
	}
}