@import "../lib/function.less";
@import "../lib/grid.less";

@import "../config/color.config.less";

//---------- Task 任务 ----------
.module-task{
	.tabWrap{
		overflow-x: auto;
		overflow-y: hidden;
		margin: 10px 5px 0;
		padding: 10px 10px 0;

		// todo 添加滚动阴影
	}
	.tab{
		float: left;
		min-width: 6em;
		border: 1px solid #c0c0c0;
		border-radius: 10px 10px 0 0;
		margin: 0 5px;
		text-align: center;
	}
	.active{
		background: #c0c0c0;
		color: #fff;
	}

	.taskList{
		position: relative;
		top: -1px;
		border: 1px solid #c0c0c0;
		margin: 0 5px;
		padding: 10px;
	}
	.task{

		&-notReceived{
			//.task_name{
			//	&:before{
			//		content: "[未接受][用户][单次]";
			//	}
			//}
		}
		&-notStart{}
		&-doing{}
		&-done{
			color: #c0c0c0;
		}

		&-notReceived{
			//&.task-
		}

		//&_name{
		//	&:before{
		//		content: "";
		//	}
		//}

		//&-delay{
		//	color: @c229;
		//}

		&_detail{
			font-size: 14px;
			text-indent: 2em;
		}

		.btn,
		.icon{
			float: right;
		}
	}
}