@import "../lib/function.less";
@import "../lib/grid.less";

@import "../config/color.config.less";

//---------- Task 任务 ----------
.module-task{
	.tabWrap{
		overflow: hidden;
		margin: 10px 5px 0;
		padding: 10px 10px 0;
	}
	.tab{
		float: left;
		min-width: 6em;
		border: 1px solid #c0c0c0;
		border-radius: 10px 10px 0 0;
		margin: 0 5px;
		text-align: center;
	}
	.active{
		background: #efefef;
	}

	.taskList{
		position: relative;
		top: -1px;
		border: 1px solid #c0c0c0;
		margin: 0 5px;
		padding: 10px;
	}
	.task{

		&-notReceived{}
		&-notStart{}
		&-doing{}
		&-done{
			color: #c0c0c0;
		}

		//&-delay{
		//	color: @c229;
		//}

		&_datetime,
		&_deadline,
		&_timeConsume,
		&_times,
		&_desc{
			font-size: 14px;
			text-indent: 2em;
		}
	}
}