@import "../layout/grid-container";

.main{
    margin: 10px auto;
    background: #fff;
}

@media screen and (min-width: 1000px){
    .main{
        width: 1000px;
    }
}

@media screen and (min-width: 1200px){
    .main{
        width: 1200px;
    }
}

@media screen and (min-width: 1600px){
    .main{
        width: 1600px;
    }
}