@import "../lib/grid.less";

/**
 * 针对宽度为 1920px 以下的设备
 *  .Container 宽度 1600
 *  共 40 列
 *  .large    40
 *  .big      30
 *  .normal   20
 *  .small    10
 *  .tiny     4(默认)
 * */
@media screen and (min-width:1920px){
	.Container{
		width: @grid-unit *40;
	}

	.large{
		.grid-x(40);
		width: @width;
	}
    .big{
	    .grid-x(30);
	    width: @width;
    }
    .normal{
	    .grid-x(20);
	    width: @width;
    }
    .small{
	    .grid-x(10);
	    width: @width;
    }
    .tiny{
	    .grid-x(4);
	    width: @width;
    }
}