.flex-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &.wrap{
        flex-wrap: wrap;
    }

    /* 水平方向 */
    &.left{
        justify-content: flex-start;
    }
    &.center{
        justify-content: center;
    }
    &.right{
        justify-content: flex-end;
    }
    &.round{
        justify-content: space-around;
    }

    /* 垂直方向 */
    &-v{
        flex-direction: column;
    }
    &.top{
        align-items: flex-start;
    }
    &.justify{
        align-items: center;
    }
    &.bottom{
        align-items: flex-end;
    }
}