@mixin justifyContent($justify: space-between){
    justify-content: $justify;
}

@mixin alignItems($align: flex-start){
    align-items: $align;
}

@mixin flexDirection($direction: row){
    flex-direction: $direction;
}

@mixin flexWrap($wrap: wrap){
    flex-wrap: $wrap;
}

.container{
    &.flex{
        display: flex;

        @include alignItems();
        @include justifyContent();

        &.wrap{
            @include flexWrap();
        }

        /* 水平方向 */
        &.left{
            @include justifyContent( flex-start );
        }
        &.center{
            @include justifyContent( center );
        }
        &.right{
            @include justifyContent( flex-end );
        }
        &.round{
            @include justifyContent( space-around );
        }

        /* 垂直方向 */
        &-v{
            @include flexDirection( column );
        }
        &.top{
            @include alignItems( flex-start );
        }
        &.justify{
            @include alignItems( center );
        }
        &.bottom{
            @include alignItems( flex-end );
        }
    }
}