@mixin gridColumn($column){
    grid-column: span $column;
}

@mixin gridRow($row){
    grid-row: span $row;
}

@mixin grid($column, $row){
    @include gridColumn( $column );
    @include gridRow( $row );
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 50px);
    grid-auto-rows: 50px;
    grid-auto-flow: row dense;

    &.percent{
        grid-template-columns: repeat(auto-fill, 12.5%);

        //.grid-full{
        //    @include gridColumn( 8 );
        //}
        //.grid-half{
        //    @include gridColumn( 4 );
        //}
        //.grid-quarter{
        //    @include gridColumn( 2 );
        //}
    }
}

//.grid-full{
//    @include gridColumn( 20 );
//}
//.grid-half{
//    @include gridColumn( 10 );
//}

@media screen and (max-width: 450px){
    .grid-container{
        grid-template-columns: repeat(auto-fill, 12.5%);
    }
    //.grid-full{
    //    @include gridColumn( 8 );
    //}
    //.grid-half{
    //    @include gridColumn( 4 );
    //}
}