@import "../lib/function.less";

@-webkit-keyframes slider-left-out{
	from{
		left: 0;
	}
	to{
		left: -100%;
	}
}
@-moz-keyframes slider-left-out{
	from{
		left: 0;
	}
	to{
		left: -100%;
	}
}
@-ms-keyframes slider-left-out{
	from{
		left: 0;
	}
	to{
		left: -100%;
	}
}
@keyframes slider-left-out{
	from{
		left: 0;
	}
	to{
		left: -100%;
	}
}

.slider-left-out{
	.animation-name(slider-left-out);
}

@-webkit-keyframes slider-left-in{
	from{
		left: 100%;
	}
	to{
		left: 0;
	}
}
@-moz-keyframes slider-left-in{
	from{
		left: 100%;
	}
	to{
		left: 0;
	}
}
@-ms-keyframes slider-left-in{
	from{
		left: 100%;
	}
	to{
		left: 0;
	}
}
@keyframes slider-left-in{
	from{
		left: 100%;
	}
	to{
		left: 0;
	}
}

.slider-left-in{
	.animation-name(slider-left-in);
}