@import "../config/color.config.less";

@default-font-size:   16px;
@default-line-height:   2;//150%;

@h1-size:   @default-font-size *2;
@h2-size:   @default-font-size *1.75;
@h3-size:   @default-font-size *1.5;
@h4-size:   @default-font-size *1.25;

//---------- Reset 重置 ----------
// 重置各个标签的默认样式，使各个标签在各个浏览器中的默认样式统一

body{
	margin:0;
	padding:0;

	color: @font-color;
	font-family: consolas, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	font-size: @default-font-size;
	line-height: @default-line-height;

	// 移动端触摸阴影
	-webkit-tap-highlight-color: rgba(0, 0, 0, .0);
}
//a:-webkit-any-link:active{
//	color: #fff;
//}

address,
caption,
cite,
code,
dfn,
strong,
th,
var,
em,
i,
b{
	font-style:normal;
	font-weight:400;
}

//----- 重置超链接元素——未访问的链接，已访问的链接，鼠标移动到链接上，选定的链接 -----
a,
a:visited{
	outline:none;
	color: @a-link;
	text-decoration:none;
	cursor: pointer;
}

.link,  // 特殊链接
.link:visited, // 特殊链接
a:hover,
a:focus,
a:active{
	color: @a-hover;
	text-decoration:underline;
}

//----- 去掉文本框 文本域的重置大小 设置文字大小 -----
input,
textarea,
select{
	font-family: inherit;
	font-weight: inherit;
}

textarea,
input{
	resize:none;
//    font-size:100%;
}

//----- 使可交互标签表现为可点击 -----
//a[href],
label[for],
input[type="submit"], //input:submit,
input[type="image"], //input:image,
input[type="reset"], //input:reset,
select,
button,
.pointer{// 可操作
	cursor:pointer;
}

//----- 按钮的不同状态 -----
//input:focus{}
//input:hover{}
input[disabled]{
	cursor: not-allowed;
}

//----- 统一各个浏览器 select 的样式 -----
select{
	height:22px;
	padding:2px 0;
	font-size:100%;
	line-height:18px;
}

//----- 去掉列表样式 -----
ul{
	margin:0;
	padding:0;
	list-style:none;
}

//----- 重置图片元素 -----
img{
	-ms-interpolation-mode: bicubic; // IE 下图片缩放不失真
	border: 0;
}

//----- 重置表格元素 -----
table{
	border-collapse:collapse;
	border-spacing:0;
}
caption,
th,
td{
//	/* float: none 阻止 span-想类破坏表格单元的显示 */
	float: none !important;
	font-weight: normal;
	text-align: left;
}

//----- 引用 -----
blockquote,
q{
	quotes: "\201C" "\201D";
}
blockquote:before,
q:before{
	//    content:"";
	content: open-quote;
}
blockquote:after,
q:after{
	content: close-quote;
}

sup{
	vertical-align: text-top;
}
sub{
	vertical-align: text-bottom;
}

//----- 标题 -----
h1,
h2,
h3,
h4,
h5,
h6{
	margin:0 auto;
	//    line-height:40px;
}
h1{
	font-size: @h1-size;
}
h2{
	font-size: @h2-size;
}
h3{
	font-size: @h3-size;
}

hr{
	border: none;
	border-top: 1px solid @border-color;
	margin: 0;
}

/*
caption,
th{
    text-align:left;
}
*/

/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}



html, body,
div, span,
applet, object, iframe,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
a, abbr, acronym, address,
big, cite, code, del, dfn, em,
img, ins, kbd,
q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd,
ol, ul, li,
fieldset, form, label, legend, caption,
table, tbody, tfoot, thead, tr, th, td,
article, aside, canvas,
details, embed, figure, figcaption,
footer, header,
hgroup, menu, nav, output, ruby, section, summary, time, mark,
audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html { height: 101%; }
body { font-size: 62.5%; line-height: 1; font-family: Arial, Tahoma, sans-serif; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

p { font-size: 1.2em; line-height: 1.0em; color: #333; }
*/

//----- 自定义文本选择 -----
::selection{
	background:@selection_bg_c;
	color: @selection_c;
}
::-moz-selection{
	background:@selection_bg_c;
	color: @selection_c;
}
::-webkit-selection{
	background:@selection_bg_c;
	color: @selection_c;
}

dialog{
	padding: 0;
}

dialog::backdrop{
	background: rgba(0, 0, 0, .5);
}

//----- 页面隐藏元素 -----
.hidden{
	display:none;
}

/**
 * IE10 没有对 屏幕的宽度 和 视口（viewport） 进行区分
 *  可能导致媒体查询并不能发挥作用
 */
@-ms-viewport{
	width: device-width;
}