@charset "utf-8";

@import "../lib/color.less";

//---------- Class 公用 class 样式 ----------

//----- Clearfix 清楚浮动 -----
.clearfix{
	&:before,
	&:after{
		content: "";
		display: table;
	}
	&:after{
		clear: both;
	}
}

//----- 页面隐藏元素 -----
.hidden{
	display:none;
}

//
.block{
	float: none;
	display: block;
	width: auto;
}

//----- 浮动 -----
.left{
	float: left;
}
.right{
	float: right;
}
.f-l{
	float: left;
}
.f-r{
	float: right;
}

//----- 文字对齐方向 -----
.textLeft{
	text-align:left;
}
.textRight{
	text-align:right;
}
.textCenter{
	text-align:center;
}
.t-c{
	text-align: center;
}
.t-l{
	text-align: left;
}
.t-r{
	text-align: right;
}

//----- 定位 -----
.pos-a{
	position: absolute;
}
.pos-f{
	position: fixed;
}
.pos-r{
	position: relative;
}

//----- 外边距 -----
.m-10{
	margin: 10px;
}

//----- 垂直居中 -----
//  父级 position 为 relative、absolute、fixed
//  必须定义高度
.middle{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	margin: auto;
}

//----- 溢出隐藏 -----
.overHidden{
	overflow: hidden;
}

//
.ellipsis{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}