@import "../lib/color.less";

//----- .btn -----
@btn_bd_c:  @c220;
@btn_bg_gradient_s:   @c221;
@btn_bg_gradient_e:   @c220;
@btn_c: @c141;

//----- .code -----
@code_bg_c: @c222;
@code_c:    @c223;

//----- .input -----
@input_placeholder_c:   @c224;
@input_placeholder_focus_c:   transparent;

//----- .loading -----
@loading_bg_c:  @c224;

//----- .logo -----
@logo_hover_bg_c:   @c35;

//----- meter -----
@meter_bd_c:    @c220;
@meter_bg_c:    @c221;
@meter_bar_bg_c:    @c220;
@meter_value_bg_c:  @c222;
@meter_value_bg_gradient_s: @c221;
@meter_value_bg_gradient_e: @c220;

//----- .scrollbar -----
@scrollbar_bg_c:    @c224;

//----- .tag -----
@tag_bd_c:  @c2;
@tag_bg_gradient_s: @c225;
@tag_bg_gradient_e: @c224;
@tag_c: @c141;
@tag_checked_bg_c:  @c226;
@tag_checked_bg_gradient_s: @c224;
@tag_checked_bg_gradient_e: @c225;
@tagInput_bd_c: @c2;

//----- .toolbar -----
@toolbar_bd_c:  @c141;
@toolbar_c:  @c141;
@toolbar_hover_bd_c:  @c35;
@toolbar_hover_bg_c:  @c35;
@toolbar_hover_bg_gradient_s:  @c227;
@toolbar_hover_bg_gradient_e:  @c35;

//----- .track -----
@track_bd_c:          @c2;   // 分步操作背景颜色
@track_bg_c:          @c2;   // 分步操作背景颜色
@track_on_bd_c:       @c35;   // 分步操作 当前操作背景颜色
@track_on_bg_c:       @c35;   // 分步操作 当前操作背景颜色