.album{
    &::before{
        content: '\e90e';
    }

    .img{
        padding: 0;
        
        &::before{
            content: none;
        }
    }

    //img{
    //    max-width: 100%;
    //    max-height: 100%;
    //}
}