@import "../element/icon.scss";
@import "../layout/grid-container.scss";

.album{
    &::before{
        @extend %icon-images;
    }

    .loading{
        @include grid(8, 1);
    }

    .image{
        border-color: #f1f1f1;
        border-radius: 5px;
        padding: 0;
        
        &::before{
            content: none;
        }

        .img{
            border-radius: 3px;
        }

        &-v{
            @include grid-column( 2 );
        }
        &-h{
            @include grid-column( 4 );
        }
    }

    .module_content{
        .container.grid{
            border-radius: 5px;
            padding: 5px;
            background: #fff;
        }
    }
}

@media screen and (max-width: 450px){
    .album{
        .image{
            &-v{
                @include grid-column( 4 );
            }
            &-h{
                @include grid-column( 8 );
            }
        }
    }
}