@import "../element/icon.scss";
@import "../layout/grid-container.scss";

.album{
    &::before{
        @extend .icon-images, :before;
    }

    .img{
        border-color: #f1f1f1;
        border-radius: 5px;
        padding: 0;
        
        &::before{
            content: none;
        }

        &-v{
            @include gridColumn( 2 );
        }
        &-h{
            @include gridColumn( 4 );
        }
    }

    .module_content{
        .container.grid{
            border-radius: 5px;
            padding: 5px;
            background: #fff;
        }
    }
}

@media screen and (max-width: 450px){
    .album{
        .img{
            &-v{
                @include gridColumn( 4 );
            }
            &-h{
                @include gridColumn( 8 );
            }
        }
    }
}