@import "../element/icon.scss";

.blog{
    &::before{
        @extend .icon-blog, :before;
    }

    &_content{
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 10px;
        background: #fff;
        font-size: 16px;
        line-height: 20px;

        .flex-container{
            margin: 20px -10px;

            &-v{
                margin: 20px 0;

                label, input{
                    margin-bottom: 10px;
                }
            }
        }
    }

    blockquote{
        display: block;
        border: 1px dashed #c0c0c0;
        border-radius: 10px;
        padding: 10px;
        background: #fafafa;
        color: #999;
        line-height: 2em;
    }

    .img{
        max-width: 100%;
        vertical-align: top;
    }
    .bold{
        font-weight: bold;
    }

    .block{
        display: block;
        width: 100%;
    }
}