@import "../element/icon.scss";

.blog{
    &::before{
        @extend .icon-blog, :before;
    }

    &_content{
        border-radius: 5px 5px 0 0;
        padding: 10px;
        background: #fff;
        font-size: 16px;
        line-height: 20px;
    }
    &_info{
        border-top: 1px solid #c0c0c0;
        color: #999;
        font-size: 14px;
    }
    &_tags{
        margin: 5px -5px -5px;
    }
    &_datetime{
        flex-shrink: 0;
        height: 30px;
        margin: 10px 0 0;
        padding: 0 5px;
        line-height: 30px;
    }

    blockquote{
        display: block;
        border: 1px dashed #c0c0c0;
        border-radius: 10px;
        padding: 10px;
        background: #fafafa;
        color: #999;
        line-height: 2em;
    }

    .img{
        max-width: 100%;
        vertical-align: top;
    }
    .bold{
        font-weight: bold;
    }
}