.blog{
    &::before{
        content: '\e83f';
    }

    &_content{
        padding: 0 5px 10px;
        font-size: 16px;
        line-height: 20px;
        //text-align: ju;
    }
    &_datetime{
        border-top: 1px solid #c0c0c0;
        margin: 10px 0;
        padding: 10px 5px 0;
        color: #999;
        font-size: 14px;
        text-align: right;
    }
}