@import "../element/icon.scss";

.img{
    &::before{
        @extend .icon-picture, :before;
    }

    &-v{
        .container.img{
            max-width: 600px;
        }
    }
    &-h{

    }

    img{
        border-radius: 5px;
    }

    .container.img{
        border-radius: 5px;
        margin: auto;
        font-size: 0;
    }
    .img_preview{
        border-radius: 10px;
        padding: 10px;
        background: #fff;
    }
}