@import "../element/icon.scss";
@import "../element/text.scss";
@import "../element/scrollbar.scss";
@import "../layout/flex-container.scss";
@import "../layout/grid-container.scss";

$descLineHeight: 1.5em;

.index{
    margin: -5px 0;

    .loading{
        @include grid(8, 1);
    }
}

.module{
    position: relative;
    border: 5px solid #c0c0c0;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    color: #333;

    &::before{
        position: absolute;
        top: -10px;
        left: -10px;
        z-index: 1;
        width: 40px;
        height: 40px;
        border: 5px solid #c0c0c0;
        border-radius: 10px 25px 25px;
        background: #fff;
        color: #333;
        font-family: 'font', serif;
        font-size: 24px;
        text-align: center;
        line-height: 40px;
        font-weight: bolder;
        content: '';
    }

    &_title{
        position: relative;
        margin: -10px 0 0 30px;
        padding-left: 10px;
        line-height: 40px;
        text-align: left;

        &::after{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 1px;
            background: #c0c0c0;
            content: '';
        }
    }
    &_content{
        border-radius: 5px;
        margin: 10px 0 0;
        padding: 10px;
        background: #f1f1f1;
    }
    &_info{
        @extend .container, .flex;

        position: relative;
        margin-top: 10px;
        color: #999;
        font-size: 14px;
    }
    &_tags{
        margin: -5px;
    }
    &_datetime{
        flex-shrink: 0;
        height: 30px;
        line-height: 30px;
    }
}

.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: rgba(0, 0, 0, .5);
}

.alert{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 400px;
    height: 200px;
    margin: auto;
    background: #fff;

    &::before{
        @extend .icon-warming, ::before;
    }

    &_content{
        height: 65px;
        border-radius: 5px;
        padding: 10px;
        background: #fff;

        @include scrollBar();
    }
    &_op{
        margin-top: 10px;
        text-align: center;
    }
}

.news{
    @include grid(8, 4);

    .module_title{
        height: 40px;

        @include textLimit( 1 );
    }

    &_pin{
        position: absolute;
        top: 6px;
        right: 11px;
        font-size: 30px;
        transform: rotate( 45deg );
    }
    &_new,
    &_update{
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 30px;
    }

    &_content{
        position: relative;
        margin-top: 10px;

        @extend .container, .flex, .left;
    }
    &_preview{
        border-radius: 5px;

        @extend .container, .flex;
        @extend .container, .flex, .center;
        @extend .container, .flex, .justify;
    }
    &_desc{
        color: #666;
        font-size: 16px;
        line-height: $descLineHeight;
    }

    &_info{
        @extend .module_info;

        margin: 0;
    }
    &_tags{
        @extend .module_tags;

        @include textFixed(1, 40px);
    }
    &_datetime{
        @extend .module_datetime;
    }

    &.blog{
        @include gridRow( 5 );

        //.module_title{
        //    @include textFixed(1, 40px);
        //}

        .news_content{
            height: 170px;
        }
        .news_preview{
            width: 100%;
            height: 130px;

            @extend .container, .img, .img-h;
        }
        .news_detail{
            flex: auto;
            height: 170px;

            @extend .container, .flex, .flex-v, .stretch;
        }
        .news_preview + .news_detail{
            position: absolute;
            width: 100%;
            border-radius: 5px;

            .news_desc,
            .news_more{
                background: rgba(0, 0, 0, .5);
                color: #fff;
            }
            .news_desc{
                border-radius: 5px 5px 0 0;
                padding-left: 10px;
            }
            .news_more{
                border-radius: 0 0 5px 5px;
            }

            .news_info{
                margin-top: 10px;
            }
        }
        .news_desc{
            flex: 1;

            @include textFixed(4, $descLineHeight);
        }
        .news_lock{
            flex: 1;
            color: #666;

            i{
                display: inline-block;
                margin: 0 12px;
                color: #999;
                font-size: 0;
                vertical-align: middle;

                &::before{
                    font-size: 74px;
                }
            }
        }
        .news_more{
            height: 40px;
            color: #666;
            font-size: 16px;
            line-height: 40px;

            @extend .text-right;
        }

        .news_tags{
            @include textFixed(1, 40px);
        }

        .news_lock ~ .news_info{
            @include justifyContent( flex-end );
        }
    }

    &.image{
        .news_content{
            position: relative;
            width: 100%;
            height: 100%;
            margin-top: 0;
        }

        .news_detail{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 60px;
            border-radius: 0 0 5px 5px;
            background: rgba(0, 0, 0, .5);
            
            @extend .container, .flex, .right;
        }

        .news_desc{
            flex: 1;
            margin: 10px 0 0;
            padding: 0 10px;
            color: #fff;
            font-size: 14px;
            line-height: 20px;

            @include textFixed(2, 20px);
        }
        .news_more{
            width: 50px;
            height: 38px;
            border: 1px solid #c0c0c0;
            border-radius: 5px;
            margin: 10px 10px 0 0;
            color: #fff;
            font-size: 20px;
            text-align: center;
            line-height: 40px;
        }

        &-h{
            @include grid(8, 4);
        }
        &-v{
            @include grid(4, 8);
        }
    }

    &.document{
        @include gridRow( 8 );

        .news_desc{
            & > div{
                overflow: hidden;
            }
        }

        .doc_subTitle{
            border-bottom: 1px solid #c0c0c0;
            margin: 10px 0 0;
            font-size: 18px;
            line-height: 1.8em;
        }

        .doc_content{
            overflow: hidden;
            margin: 10px 0 0;
            padding: 0;

            @include textFixed(2, 1.5em);
        }
    }

    &.editor{
        @include grid(8, 8);

        .news_content{
            height: 320px;

            @include flexDirection( column );
        }
        .news_preview{
            flex: 1;
        }
        .news_info{
            width: 100%;
            margin-top: 10px;
        }
    }

    &.words{
        .news_content{
            height: 160px;
            margin: 0;

            @include flexDirection( column );
        }
        .news_detail{
            flex: 1;
        }
        .news_desc{
            //margin-top: -15px;
            //height: 120px;
            line-height: 22px;
            text-indent: 45px;

            //@include textLimit( 5 );

            &::first-line{
                line-height: 40px;
            }
        }
        .news_info{
            width: 100%;

            @extend .container, .flex, .right;
        }
        .news_datetime{
            margin-right: 40px;
        }
    }
}

@media screen and (min-width: 1200px){
    .index{
        .loading{
            @include grid(12, 1);
        }
    }

    .news{
        &.blog{
            .news_preview{
                flex: auto;
                width: 375px;
                height: 170px;

                flex-shrink: 0;

                img{
                    min-width: 100%;
                    min-height: 100%;
                    max-width: none;
                    max-height: none;
                }
            }
            .news_preview + .news_detail{
                position: relative;
                flex: auto;
                height: 170px;
                margin-left: 10px;
                background: transparent;

                .news_desc,
                .news_more{
                    background: transparent;
                    color: inherit;
                }
                .news_info{
                    margin-top: 0;
                }
            }
            .news_desc{
                padding-left: 0;
            }

            @include gridColumn(16);

            &:nth-of-type(3n+3){
                @include grid(8, 10);

                .news_content{
                    height: 420px;

                    @include flexDirection( column );
                }
                .news_detail{
                    width: 100%;
                    height: 235px;
                }
                .news_preview + .news_detail{
                    margin: 10px 0 0;
                }
                .news_desc{
                    @include textFixed(7, $descLineHeight);
                }
                .news_lock{
                    text-align: center;

                    i{
                        display: block;
                        margin-bottom: 36px;
                    }
                }
            }
        }

        &.image{
            &-v{
                @include grid(8, 12);
            }
            &-h{
                @include grid(16, 6);
            }
            &-vh{
                img{
                    max-width: 100%;
                    max-height: none;
                }
            }
        }
    }
}

@import "./blog.scss";

@import "./album.scss";

@import "./image.scss";

@import "./document.scss";

@import "./editor.scss";

@import "./valhalla.scss";

@import "./resume.scss";

@import "./words.scss";