@import "../element/text.scss";
@import "../layout/flex-container.scss";
@import "../layout/grid-container.scss";

.index{
    margin: -5px 0;

    .loading{
        @include grid(8, 1);
    }
}

$descLineHeight: 1.5em;

.news{
    @include grid(8, 4);

    &_desc{
        margin: 0 5px;
        color: #666;
        font-size: 16px;
        line-height: $descLineHeight;
    }
    &_more{

    }
    &_datetime{
        border-top: 1px solid #c0c0c0;
        margin: 10px 0;
        padding: 10px 0 0;
        color: #999;
        font-size: 14px;
        text-align: right;
    }
    &_pin{
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 30px;
        transform: rotate(45deg);
    }
    &_preview{
        @extend .container, .flex;
        @extend .container, .flex, .center;
        @extend .container, .flex, .justify;
    }

    &.blog{
        @include gridRow( 5 );

        .module_title{
            @include textFixed(1, 40px);
        }
        .news_desc{
            margin-bottom: 26px;
            padding-top: 36px;

            @include textFixed(2, $descLineHeight);
        }
        .news_lock{
            height: 74px;
            padding-top: 36px;
            color: #666;
            //line-height: 98px;

            i{
                display: inline-block;
                margin: 0 12px;
                color: #999;
                font-size: 0;
                vertical-align: middle;

                &::before{
                    font-size: 74px;
                }
            }
        }
        .news_more{
            padding: 0 5px 9px;
            color: #666;
            font-size: 16px;
            line-height: 24px;

            @extend .text-right;
        }

        .module_tags{
            margin-top: 0;

            @include textFixed(1, 40px);
        }
        .module_datetime{
            margin-top: 5px;
        }
    }

    &.img{
        .news_desc{
            overflow: hidden;
            position: absolute;
            bottom: 5px;
            left: 5px;
            right: 5px;
            border-radius: 0 0 5px 5px;
            margin: 0;
            padding: 5px;
            background: rgba(0, 0, 0, .5);
            color: #fff;
            font-size: 14px;
            line-height: 20px;

            @include textFixed(2, 20px)
        }
        .news_more{
            position: absolute;
            top: 15px;
            right: 15px;
            width: 50px;
            height: 40px;
            border-radius: 5px;
            background: rgba(0, 0, 0, .5);
            color: #fff;
            font-size: 16px;
            text-align: center;
            line-height: 40px;
        }

        &-h{
            @include grid(8, 4);
        }
        &-v{
            @include grid(4, 8);
        }
        &-vh{
            img{
                max-width: 100%;
                max-height: none;
            }
        }
    }

    &.document{
        @include gridRow( 8 );

        .news_desc{
            & > div{
                overflow: hidden;
            }
        }

        .doc_subTitle{
            border-bottom: 1px solid #c0c0c0;
            margin: 10px 0 0;
            font-size: 18px;
            line-height: 1.8em;
        }

        .doc_content{
            overflow: hidden;
            margin: 10px 0 0;
            padding: 0;

            @include textFixed(2, 1.5em);
        }
    }

    &.editor{
        @include grid(8, 8);

        .module_title{
            @include textLimit( 1 );
        }
        .container.img{
            max-height: 254px;
        }
        .module_info{
            @include flexDirection(column);
        }
        .module_tags{
            margin-top: 0;

            @include textFixed(1, 40px);
        }
        .module_datetime{
            width: 100%;
            margin: 5px -10px 0;
            text-align: right;
        }
    }
}

@media screen and (min-width: 1200px){
    .index{
        .loading{
            @include grid(12, 1);
        }
    }

    .news{
        &.blog{
            @include gridColumn(16);

            &:nth-of-type(3n+5){
                @include grid(8, 8);

                .news_desc{
                    margin-bottom: 17px;

                    @include textFixed(7, $descLineHeight);
                }
                .news_lock{
                    height: 185px;
                    text-align: center;
                    
                    i{
                        display: block;
                        margin-bottom: 36px;
                    }
                }
                .news_more{
                    padding: 4px 5px 9px;
                }

                .module_info{
                    @include flexDirection(column);
                }
                .module_tags{
                    margin-top: 0;

                    @include textLimit(1);
                }
                .module_datetime{
                    width: 100%;
                    margin: 5px 0 0;
                    text-align: right;
                }
            }
        }

        &.img{
            &-v{
                @include grid(8, 12);
            }
            &-h{
                @include grid(16, 6);
            }
        }
    }
}