@import "../element/text.scss";
@import "../layout/flex-container.scss";
@import "../layout/grid-container.scss";

.index{
    margin: -5px 0;

    .loadMore{
        @include grid(8, 1);
    }
}

.news{
    @include grid(8, 4);

    &_desc{
        margin: 10px 5px 12px;
        color: #666;
        font-size: 16px;
        line-height: 24px;
    }
    &_more{

    }
    &_datetime{
        border-top: 1px solid #c0c0c0;
        margin: 10px 0;
        padding: 10px 5px 0;
        color: #999;
        font-size: 14px;
        text-align: right;
    }
    &_icons{
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 30px;
    }
    &_pin{
        display: inline-block;
        transform: rotate(45deg);
    }

    &.blog{
        @include gridColumn( 8 );

        .module_title{
            @include textFixed(1, 40px);
        }
        .news_desc{
            @include textFixed(3, 1.5em);
        }

        .blog_tags{
            margin-top: 0;

            @include textFixed(1, 40px);
        }
        .blog_datetime{
            margin-top: 5px;
        }
    }

    &.img{
        .news_desc{
            overflow: hidden;
            position: absolute;
            bottom: 5px;
            left: 5px;
            right: 5px;
            border-radius: 0 0 5px 5px;
            margin: 0;
            padding: 5px;
            background: rgba(0, 0, 0, .5);
            color: #fff;
            font-size: 14px;
            line-height: 20px;

            @include textFixed(2, 20px)
        }
        .news_more{
            position: absolute;
            top: 15px;
            right: 15px;
            width: 50px;
            height: 40px;
            border-radius: 5px;
            background: rgba(0, 0, 0, .5);
            color: #fff;
            font-size: 16px;
            text-align: center;
            line-height: 40px;
        }

        &-h{
            @include grid(8, 4);
        }

        &-v{
            @include grid(4, 8);
        }
    }

    &.document{
        @include gridRow( 9 );

        .doc_subTitle{
            border-bottom: 1px solid #c0c0c0;
            margin: 10px 0 0;
            font-size: 18px;
            line-height: 1.8em;
        }

        .doc_content{
            overflow: hidden;
            margin: 10px 0 0;
            padding: 0;

            @include textFixed(3, 1.5em);
        }
    }
}

@media screen and (min-width: 1200px){
    .news.blog{
        @include gridColumn( 16 );

        &:nth-of-type(5n+10),
        &:nth-of-type(5n+12){
            @include grid(8, 6);

            .news_desc{
                margin-bottom: 5px;

                @include textFixed(6, 1.5em);
            }
            .blog_info{
                @include flexDirection(column);
            }
            .blog_tags{
                margin-top: 0;

                @include textLimit(1);
            }
            .blog_datetime{
                width: 100%;
                margin: 5px -10px 0;
                text-align: right;
            }
        }
    }
}