@import "../config/color.config.less";

/**
 * 标尺
 * */
meter{
	overflow: hidden;
	display: block;
	height: 13px;
	width: 80%;

	border: 2px solid @meter_bd_c;
	border-radius: 5px;
	margin: 10px auto;
	background: @meter_bg_c;

	-webkit-appearance: none;


	&::-webkit-meter-bar{   //
		background: @meter_bar_bg_c;
		border: 0;
	}
	&::-webkit-meter-even-less-good-value{

	}
	&::-webkit-meter-optimum-value{
		background: @meter_value_bg_c;
		//    background: -moz-linear-gradient(top, #a1d4e6 0%, #6bb4d1 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @meter_value_bg_gradient_s), color-stop(100%, @meter_value_bg_gradient_e));
		background: -webkit-linear-gradient(top, @meter_value_bg_gradient_s 0%, @meter_value_bg_gradient_e 100%);
		//    background: -o-linear-gradient(top, #a1d4e6 0%, #6bb4d1 100%);
		//    background: -ms-linear-gradient(top, #a1d4e6 0%, #6bb4d1 100%);
		//    background: linear-gradient(to bottom, #a1d4e6 0%, #6bb4d1 100%);
		//    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a1d4e6', endColorstr='#6bb4d1',GradientType=0);
	}
	&::-webkit-meter-suboptimum-value{

	}
}