<form action="">
	<div class="formGroup">
		<label for="name" class="label">请输入网站名称</label>
		<input type="text" id="name" class="input" name="name" placeholder="请输入网站名称" data-validator="name"/>
	</div>
	<div class="formGroup">
		<label for="url" class="label">请输入网站链接</label>
		<input type="text" id="url" class="input" name="url" placeholder="请输入网站链接" data-validator="url"/>
	</div>
	<div class="formGroup">
		<label for="xml" class="label">请输入订阅链接</label>
		<input type="text" id="feed" class="input" name="feed" placeholder="请输入订阅链接" data-validator="feed"/>
	</div>
</form>